body {
    background-color: #111;
}

// ABOUT PAGE
// ================================================================

#about {
    
    .about-banner {
        padding: 200px 0 90px 0;

        h1 {
            font-family: 'Ubuntu', sans-serif;
            font-weight: bold;
            font-size: 1.5rem;
            margin-top: 48px;
            text-transform: uppercase;
        }

        h2 {
            font-family: 'Rubik', sans-serif;
            color: #FFFD;
            font-size: 3rem;
            margin: 0 auto;
        }        
    }
    
    .about-container {
        p {
            margin-bottom: 16px;
        }

        li {
            margin-bottom: 6px;
        }

        p, ul, li {
            font-family: 'Ubuntu', sans-serif;
            color: #ffffffcc;
            font-size: 1.8rem;
            font-weight: 100;
            line-height: 3rem;
            
            &.hello {
                font-family: 'Shadows Into Light', cursive;
                font-size: 5rem;
                margin-bottom: 5rem;
            }            
        }

        .signature {
            margin-top: 6rem;
            margin-bottom: 12px;            
            font-size: 4.5rem;
            font-family: 'Cedarville Cursive', cursive;
        }
        
        .founder {
            font-size: 1.75rem;            
            color: #888;
        }
    }
}

#about-read-next {

    h2 {
        font-family: 'Ubuntu', sans-serif;
        color: #FFFD;
        font-size: 2.5rem;
        margin: 0 auto;
        padding: 64px 0;
    }

    .read-next {     
        font-family: 'Rubik', sans-serif;
        font-size: 4rem;
        letter-spacing: -0.4px;
        display: inline-block;
        width: 100%;
        padding: 148px 0;        
        text-align: center;
        color: #FFF;
        transition: all 0.15s ease;
        border-top: 1px solid #fff1;
        border-bottom: 1px solid #fff1;
        
        &.blog {
            background: #191720;
        }

        &.jornada {
            background: #191720;
            padding: 132px 0;

            p {
                font-family: 'Rubik', sans-serif;
                color: #FFFC;
                font-size: 1.5rem;
            }
        }

        &:hover {
            background-color: #131218;
        }

        @media(max-width: 768px) {
            padding: 64px 0;
            font-size: 2.5rem;

            &.jornada {
                padding: 64px 0;
            }
        }
    }
}