.featured-posts-section {
    background: #efefef url('/assets/svg/blog-stars-bground.svg');
    padding: 56px 16px 36px 16px;

    h1 {
        font-family: 'Merriweather', serif;
        font-weight: bold;
        font-size: 4.5rem;
        color: #3e464f;
    }

    h2 {
        font-family: 'Merriweather', serif;
        font-weight: 100;
        font-size: 2rem;
        margin-bottom: 48px;
        line-height: 32px;
        color: #3e464f;
    }

    .card {
        max-height: none;
    }
}