// FONT DTL PROKYON
// ================================================================

@font-face {
    font-family: DTL Prokyon;
    src: url('/assets/fonts/dtl-prokyon/DTL-Prokyon-Light.ttf') format("truetype");
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: DTL Prokyon;
    src: url('/assets/fonts/dtl-prokyon/DTL-Prokyon-Medium.ttf') format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: DTL Prokyon;
    src: url('/assets/fonts/dtl-prokyon/DTL-Prokyon-Bold.ttf') format("truetype");
    font-weight: bold;
    font-style: normal
}

.ebook-landing-page {
    min-height: 100vh;

    .nav {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;        
        text-align: center;
        background-color: rgba(0, 0, 0, 0.35);

        img {
            padding: 15px;            

            @media (max-width: 767px) {
                height: 70px;
            }
        }
    }

    .body {        
        background: #05050c;
        padding: 15vh 0;
        min-height: 100vh;

        .ebook-container {
            display: flex;
            align-items: center;
            gap: 48px;

            .ebook-informations {
                flex: 0.45;

                h1 {
                    font-size: 3.65rem;
                    font-family: 'Space Grotesk', sans-serif;
                    font-weight: bold;
                    letter-spacing: -0.4px;
                    color: #FFF;
                    margin-bottom: 32px;
                }
        
                h2 {
                    font-family: 'Rubik', sans-serif;
                    text-transform: uppercase;
                    color: #fffd;
                    font-size: 1.45rem;
                    margin-top: 0;
                }        
        
                ul {
                    list-style: none;
                    padding-left: 20px;
                }
        
                p, ul > li {
                    font-family: 'Inter', sans-serif;
                    font-size: 1.65rem;
                    color: #ffffffcc;
                    margin-bottom: 10px;
                    font-weight: 400;
        
                    .django {
                        font-family: 'DTL Prokyon', sans-serif;
                        color: #44b78b;
                        font-weight: bold;
                    }
                }
            }

            .ebook-cover-and-form {
                display: flex;
                flex: 0.55;

                .form-container {
                    margin: 32px auto;
                    background: #090816;
                    border-radius: 4px;
                    border: 2px solid #0d0c26;
                    -webkit-box-shadow: 0 0 29px #000000;
                    box-shadow: 0 0 29px #000000;
        
                    .form-header {
                        padding: 20px 32px;
                        background: #030106;
                        border-radius: 4px 4px 0 0;
                        border-bottom: 1px solid #130b1d;
        
                        h3 {
                            text-align: center;
                            font-family: 'Space Grotesk', sans-serif;
                            color: #FFF;
                            text-transform: uppercase;
                            font-size: 1.75rem;
                            margin: 0;
                        }
                    }

                    .form-disclaimer {
                        margin: 32px 32px 0 32px;

                        p {
                            margin: 0;
                            background: #03030a;
                            border-radius: 8px;
                            padding: 12px;
                            font-family: 'Rubik', sans-serif;
                            color: #FFFFFF99;
                            font-size: 1.35rem;

                            b {
                                font-weight: 600;
                            }

                            img {
                                width: 12px;
                                height: 13px;
                                position: relative;
                                bottom: 1px;
                                margin-right: 4px;
                            }
                        }
                    }
        
                    .form-body {
                        padding: 32px;
                        display: flex;
                        align-items: center;
                        gap: 24px;
        
                        .ebook-cover {
                            flex: 0.40;
                            border-radius: 4px;
                        }
        
                        .form {
                            flex: 0.6;
        
                            form.ebook-form {
                                label {
                                    font-family: 'Rubik', sans-serif;
                                    font-weight: 400;
                                    font-size: 1.35rem;
                                    color: #FFFFFF99;
                                    text-transform: uppercase;
                                }
                    
                                input {
                                    background: #dbdae9;
                                    border: 0;
                                    padding: 10px 12px;
                                    font-family: 'Space Grotesk', sans-serif;
                                    color: #1a1946;
                                    width: 100%;
                                    border-radius: 6px;
                                    margin-bottom: 28px;
                                    font-size: 1.65rem;
                                }
                    
                                button {
                                    width: 100%;
                                }
                            }
                        }                
                    }
                }
            }

            @media(max-width: 768px) {
                display: block;

                .ebook-cover-and-form {
                    .form-container {
                        .form-body {
                            display: block;

                            .ebook-cover {
                                display: none;
                            }
                        }
                    }
                }
            }
        }                
    }
}

.ebook-download-page {
    min-height: 100vh;
    padding: 20vh 0;
    background-color: #030007;

    .ebook-cover {
        max-width: 250px;
        width: 100%;
    }

    .download-container {
        .download-information {
            display: flex;
            align-items: center;
            gap: 32px;

            .ebook-cover {
                display: flex;
                flex: 0.2;  
                
                img {
                    width: 100%;
                }
            }

            .info {
                display: flex;
                flex-direction: column;
                flex: 0.35;
                h1 {
                    font-size: 2.7rem;
                    font-family: 'Space Grotesk', sans-serif;
                    font-weight: bold;
                    letter-spacing: -0.4px;
                    color: #FFF;
                }
        
                h2 {
                    font-family: 'Rubik', sans-serif;
                    text-transform: uppercase;
                    color: #fffd;
                    font-size: 1.5rem;
                    margin-top: 0;
                    margin-bottom: 16px;
                }
        
                h3 {
                    font-family: 'Inter', sans-serif;
                    color: #ffffffaa;
                    font-size: 1.75rem;
                    margin-bottom: 32px;
                    font-weight: 400;
                }        
        
                p {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 15px;
                    margin-bottom: 24px;
                }     
                
                .call-to-action {
                    width: fit-content;
                }
            }

            .course-information {
                display: flex;
                flex: 0.45;
            }            
        }        
    }   

    @media(max-width: 992px) {
        min-height: unset;
        padding: 14vh 0 16px 0;

        .download-container {            
            .download-information {
                display: block;

                .ebook-cover {
                    display: block;
                    text-align: center;
                    max-width: none;

                    img {
                        width: 60%;
                        margin-bottom: 24px;
                    }
                }

                .info {
                    .call-to-action {
                        width: 100%;
                        text-align: center;
                        margin-bottom: 32px;
                    }
                }
            }
        }
    }
}

