@font-face {
    font-family: 'SpaceGrotesk';
    font-weight: 1000;
    src: url('/assets/fonts/space-grotesk/SpaceGrotesk-Bold.woff2') format('woff2'),
    url('/assets/fonts/space-grotesk/SpaceGrotesk-Bold.otf') format('otf'),
    url('/assets/fonts/space-grotesk/SpaceGrotesk-Bold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'SpaceGrotesk';
    font-weight: 700;
    src: url('/assets/fonts/space-grotesk/SpaceGrotesk-Medium.woff2') format('woff2'),
    url('/assets/fonts/space-grotesk/SpaceGrotesk-Medium.otf') format('otf'),
    url('/assets/fonts/space-grotesk/SpaceGrotesk-Medium.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'SpaceGrotesk';
    font-weight: 400;
    src: url('/assets/fonts/space-grotesk/SpaceGrotesk-Regular.woff2') format('woff2'),
    url('/assets/fonts/space-grotesk/SpaceGrotesk-Regular.otf') format('otf'),
    url('/assets/fonts/space-grotesk/SpaceGrotesk-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'SpaceGrotesk';
    font-weight: 100;
    src: url('/assets/fonts/space-grotesk/SpaceGrotesk-Light.woff2') format('woff2'),
    url('/assets/fonts/space-grotesk/SpaceGrotesk-Light.otf') format('otf'),
    url('/assets/fonts/space-grotesk/SpaceGrotesk-Light.ttf') format('truetype');
    font-display: swap;
}

.header {        
    .navbar.homepage {
        position: absolute;
        width: 100%;

        .nav {
            li {
                a {
                    color: #ffffffcc;
                }

                @media(max-width: 767px) {
                    border-bottom: 1px solid #88888822;
                }
            }
        }

        .navbar-collapse {
            @media(max-width: 767px) {
                border: 0;
            }
        }

        @media(max-width: 767px) {
            background: rgba(18,19,19,0.75);
            mix-blend-mode: normal;
            -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
            z-index: 999;
        }
    }
}

section#new-headline {
    background: linear-gradient(0deg, #060810, #0c0a1a);

    .headline-inner {
        // background: url("/assets/img/jornada-python/banner-img.webp") center bottom no-repeat;
        background: url("/assets/img/jornada-python/video-bground-md.webp") center top no-repeat;
        background-size: 1200px;
        width: 100%;
        min-height: 90vh;
        display: flex;
        -webkit-box-align: center;
        text-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-animation: bground-animation 1.25s cubic-bezier(0.05, 0.43, 0.03, 0.88) both;
        animation: bground-animation 1.25s cubic-bezier(0.05, 0.43, 0.03, 0.88) both;
        
        h1 {                
            font-family: 'Space Grotesk', sans-serif;    
            font-size: 5rem;
            color: #eee;
            line-height: 1.35;
            font-weight: 700;
            margin-bottom: 1rem;

            .text-gradient {
                background: -webkit-linear-gradient(140deg, #f2a900 0, #ffd87d 100%);
                background: linear-gradient(140deg, #f2a900 0, #ffd87d 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: bold;
            }
        }
        
        h2 {
            font-family: 'Space Grotesk', sans-serif;    
            color: rgb(214,212,226);
            font-size: 1.9rem;
            line-height: 1.55;
            margin-bottom: 5rem;
            font-weight: 100;
    
            span.django-text {
                color: #44B78B;
                font-weight: 700;
            }
        }  

        button {
            background: #0e0d13;
            padding: 16px;
            width: 100%;
            max-width: 450px;
            border: 1px solid #201e2a;
            box-shadow: 0 0 18px #00000088;
            border-radius: 12px;
            -webkit-animation: pulse;
            animation: pulse;
            -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;             
            -webkit-animation-iteration-count: infinite;   
            animation-iteration-count: infinite;
            transition: all 0.15s ease-in-out;

            a {
                font-family: 'Space grotesk', sans-serif;
                color: #b9b6cb;
                text-transform: uppercase;
                font-size: 2.35rem;

                img {
                    width: 120px;
                    position: relative;
                    bottom: 2px;
                    margin-left: 6px;
                }
            }

            &:hover {
                border-color: #FFF;
                box-shadow: 0px 4px 0px #1118;
                -webkit-animation: none;
                animation: none;

                a {
                    color: #FFF;
                }
            }
        }

        @media(max-width: 768px) {                
            h1 {
                font-size: 3.1rem;
                margin-bottom: 2rem;
            }

            button {
                a {
                    font-size: 1.75rem;

                    img {
                        width: 80px;
                    }
                }
            }
        }
    
        @media(max-width: 576px) {
            text-align: left;
            min-height: 75vh;
            align-items: end;
            padding: 13rem 2px 8rem 2px;
        }
    }  
    
    .mountains {
        background: url("/assets/img/mountains.png") repeat;
        display: block;
        background-size: 1200px;
        height: 67px;
        margin-top: 4rem;
    }
    
    @-webkit-keyframes bground-animation {
        100% { background-size: 1400px }
    }

    @keyframes bground-animation {
        100% { background-size: 1400px }
    }    
}

section#headline {
    overflow: hidden;
    //background: linear-gradient(0deg, #2e1d0b, #032244);
    background: linear-gradient(-35deg, #bd6910, #032244, #722eca);
    background-size: 400% 400%;
    -webkit-animation: sunset;
    animation: sunset;
    -webkit-animation-duration: 15s;
    animation-duration: 15s;             
    -webkit-animation-iteration-count: infinite;   
    animation-iteration-count: infinite;

    @-webkit-keyframes sunset {
        0%   { background-position: 0% 50% }
        50%  { background-position: 100% 50% }
        100% { background-position: 0% 50% }
    }
    
    @keyframes sunset {
        0%   { background-position: 0% 50% }
        50%  { background-position: 100% 50% }
        100% { background-position: 0% 50% }
    }

    .dotted {
        padding: 11.5rem 0 0 0;
        display: block;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,.2);
        background-image: url("/assets/img/jornada-python/dots.png");

        h1 {
            font-family: 'Montserrat', sans-serif;
            font-weight: 100;
            color: #fff;
            font-size: 4.6rem;
            margin-bottom: 0;
            margin-top: 50px;
            line-height: 60px;
        }

        h2 {
            font-family: 'Montserrat', sans-serif; 
            font-size: 1.7rem; 
            color: #ccc; 
            line-height: 28px;
        }

        .cta {        
            background: #00000077;
            border: 1px solid #fff;
            border-radius: 30px;
            margin: 28px 0px;
            padding: 0;
            // box-shadow: 0px 0px 6px #f2a90000;
            width: 100%;
            max-width: 420px;
            -webkit-animation: pulse;
            animation: pulse;
            -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;             
            -webkit-animation-iteration-count: infinite;   
            animation-iteration-count: infinite;
            transition: all 0.15s ease-in-out;
            
            &:hover {
                border-color: #FFF;
                box-shadow: 0px 4px 0px #1118;
                -webkit-animation: none;
                animation: none;
            }
    
            a {
                display: inline-block;
                font-family: 'Montserrat', sans-serif;
                text-transform: uppercase;
                font-size: 1.75rem;
                color: #bbb;
                font-weight: bold;         
                padding: 16px;
                width: 100%;
                transition: all 0.15s ease-in-out;

                img {
                    position: relative;
                    bottom: 2px;
                    width: 120px;
                    margin-left: 6px;
                }
    
                &:hover {
                    color: #FFF;
                }
            }
    
            @-webkit-keyframes pulse {
                0% { box-shadow: 0px 0px 6px #f2a90000 }
                50% { box-shadow: 0px 0px 6px #f2a90000 }
                70% { box-shadow: 0px 0px 28px #f2a900 }
                100% { box-shadow: 0px 0px 6px #f2a90000 }
            }
            
            @keyframes pulse {
                0% { box-shadow: 0px 0px 6px #f2a90000 }
                50% { box-shadow: 0px 0px 6px #f2a90000 }
                70% { box-shadow: 0px 0px 28px #f2a900 }
                100% { box-shadow: 0px 0px 6px #f2a90000 }
            }
        }
        
        .mountains {
            background: url("/assets/img/mountains.png") repeat;
            display: block;
            background-size: 1200px;
            height: 67px;
            margin-top: 4rem;
        }                

        @media(max-width: 992px) {
            h1 {
                font-size: 2.5rem;
                margin-bottom: 9px;
                line-height: 40px;
            }

            h2 {
                font-size: 1.43rem;
                line-height: 20px;
            }

            .cta {
                a {
                    font-size: 1.4rem;
                    padding: 16px;
                }
            }

            .payment-features {
                ul {
                    li {
                        font-size: 1.45rem;

                        b {
                            margin: 0 8px;
                        }
                    }
                }
            }
        }

        @media(max-width: 768px) {
            padding: 7.5rem 0 0 0;

            h1 {
                margin-top: 0;
                line-height: 32px;
            }

            h2 {
                line-height: 21px;
                margin-bottom: 0;
            }

            .cta {
                width: 100%;
                margin: 24px 0;
            }
        }
    }
}


// HEADER SECTION
// ================================================================

.header-section {
    background: #1f2325 url("/assets/svg/blog-stars-bground.svg");
    min-height: calc(97vh - 85px);
    width: 100%;
    display: table;

    .header-section-wrapper {
        display: table;
        margin: 0 auto;

        .header-section-content {
            display: table-cell;
            vertical-align: middle;
            text-align: left;
            max-width: 100%;
            height: calc(97vh - 85px);
            
            object {
                max-width: 500px;
                height: 220px;

                @media(max-width: 526px) {
                    max-width: 100%;
                }
            }
    
            h1 {
                font-family: 'Montserrat', sans-serif;
                font-size: 7.5rem;
                font-weight: bold;
                text-transform: uppercase;
                position: relative;
                // bottom: 35px;
                margin: 32px 8px;
                color: #FFF;

                @media (max-width: 767px) {
                    margin: 12px 0 24px 0;
                    font-size: 3.4rem;
                    text-align: center;
                }
            }
        
            h2 {
                font-family: 'Montserrat', sans-serif;
                font-size: 2rem;
                line-height: 2.75rem;
                color: #ddd;

                @media (max-width: 767px) {
                    font-size: 1.55rem;
                    margin-bottom: 20px;
                    text-align: center;
                }
            }            
        
            .banner-image {
                width: 100%;
                position: relative;
        
                &.editor {
                    top: 35px;
                    left: 35px;
                }
        
                &.app {
                    bottom: 35px;
                    right: 50px;
                }
            }            

            .call-to-action {
                padding: 12px 20px;
                width: 100%;
                font-size: 1.5rem;
                background-color: #1f2325;
                font-family: 'Montserrat';
                border: 1px solid #282b2d;
                font-weight: bold;
                border-radius: 50px;
                -webkit-animation: pulse;
                animation: pulse;
                -webkit-animation-duration: 2s;
                animation-duration: 2s;             
                -webkit-animation-iteration-count: infinite;   
                animation-iteration-count: infinite;

                &:hover, &:focus {
                    background-color: #17191b;
                    -webkit-animation: none;
                    animation: none;
                }

                &.highlight {
                    font-weight: bold;
                    background: #ffcc02;
                    color: #FFF;
                    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25)
                }
            }      
            
            @-webkit-keyframes pulse {
                0% {
                    border-color: #282b2d;
                }
                50% {
                    border-color: #282b2d;
                }
                70% {
                    border-color: #f1c40f;
                }
                100% {
                    border-color: #282b2d;
                }
            }
            
            @keyframes pulse {
                0% {
                    border-color: #282b2d;
                }
                50% {
                    border-color: #282b2d;
                }
                70% {
                    border-color: #f1c40f;
                }
                100% {
                    border-color: #282b2d;
                }
            }

            @media(max-width: 767px) {
                padding: 4.5rem 10px;
                height: auto;
            }
        }
    }
}

.features-section {
    padding: 64px 0;
    
    .why-learn-python { 
        margin-top: 16px;
        display: inline-block;
        font-family: 'Roboto Condensed';
    }

    .feature {
        text-align: center;
        padding: 0 15%;

        object {
            margin-bottom: 16px;
            max-width: 450px;
        }

        h2 {
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 3rem;
            // color: $python-yellow;
        }

        p {
            font-family: 'Lato', serif;
            font-size: 1.6rem;
            color: #4b545e;
            line-height: 2.5rem;
            margin-bottom: 32px;;
        }


        @media(max-width: 1200px) {
            padding: 0 5%;
        }

        @media(max-width: 767px) {
            padding: 0;

            object {

            }
        }
    }
}

// BLOG SECTION
// ================================================================

#blog {
    padding: 96px 0;
    background: #f2f2f2;

    .section-header {
        color: #454545;
    }
}

// SLIDERS SECTION
// ================================================================

#sliders {
    padding: 96px 0;
    background: #02b3e4;

    .section-header {
        color: #FFF;
    }

    .button {
        &:hover {
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
        }
    }
}

// EBOOKS SECTION
// ================================================================

#ebooks {
    padding: 96px 16px;
    background-image: url('/assets/svg/stars-bground.svg'), linear-gradient(to bottom, #000, #202020);

    .section-header,
    .section-sub-header {
        color: #FAFAFA;
    }

    .ebooks {
        a {
            display: block;
            img {
                -webkit-filter: grayscale(100%);
                -moz-filter: grayscale(100%);
                -ms-filter: grayscale(100%);
                filter: grayscale(100%);
                filter: gray;
                transition: all 0.15s ease-in;
                margin-bottom: 48px;
                width: 80%;

                &:hover { 
                    -webkit-filter: grayscale(0%);
                    -moz-filter: grayscale(0%);
                    -ms-filter: grayscale(0%);
                    filter: grayscale(0%);                    
                }

                @media (max-width: 767px) {
                    -webkit-filter: grayscale(0%);
                    -moz-filter: grayscale(0%);
                    -ms-filter: grayscale(0%);
                    filter: grayscale(0%); 
                    width: 50%;
                    margin-bottom: 64px;
                }

                @media (max-width: 500px) {
                    width: 80%;
                    margin-bottom: 48px;
                }
            }

            &.soon {
                &::after {
                    content: url("/assets/svg/soon-badge.svg");
                    position: absolute;
                    top: -10px;
                    left: 6px;

                    @media (max-width: 767px) {
                        display: none;
                    }
                }
            }

            &.call-to-action {
                display: inline !important;
            }

            @media (max-width: 767px) {
                text-align: center;
            }
        }

        .link-to-download {
            text-align: center;

            .call-to-action {
                margin-bottom: 0;                
            }
        }

        .soon-label {
            font-family: 'Open Sans', serif;
            font-weight: bold;
            font-size: 1.7rem;
            line-height: 32px;
            color: #ffcc02;
            text-transform: uppercase;
            margin-bottom: 12px;
        }
    }
}

// ZEN OF PYTHON SECTION
// ================================================================

#zen-of-python-section {
    padding: 96px 0;
    background: #1089ab url("/assets/svg/blog-bground-pattern.svg");

    h2 {
        margin: 0;
        
        a {
            display: inline-block;
            font-family: 'Oswald', sans-serif;
            text-transform: uppercase;
            font-size: 3.5rem;
            color: #FFF;
    
            .text-small {
                font-size: 2rem;
            }
        }
    }
}