:root {
    --white: #FFF;
    --gray: #dadada;
    --yellow: #ffcc00;
    --blue: #3d9aeb;
    --dark-gray: #161718;
    --darker-gray: #111212;
    --django-light-color: #44B78B;
    --django-dark-color: #0C4B33;
}

html {
    font-family: 'Roboto', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
    font-size: 16px;

    @media(max-width: 768px) {
        font-size: 14px;
    }
}

body::-webkit-scrollbar {
    background: #000;
    height: 8px;
    width: 8px
}

body::-webkit-scrollbar-track {
    border-radius: 5px
}

body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #555
}

body {
    background: url("/assets/img/jornada-python-v4/noise-fill.png"), #000;
}

.heading-1, .heading-2, .heading-3, .heading-4, .heading-5, p, li, a {
    font-family: 'Roboto', sans-serif;
}

.heading-1 {
    color: #fff;
    font-size: 3rem;
    line-height: initial;
    margin-bottom: 1.85rem;

    @media(max-width: 768px) {
        font-size: 2.5rem;
        line-height: 2.7rem;
    }
}

.heading-2 {
    color: #e1e1e7;
    line-height: 2.65rem;

    @media(max-width: 768px) {
        font-size: 1.6rem;
        line-height: 2rem;
    }
}

.heading-3 {
    color: #b6b6b7;
}

p, ul li {
    color: var(--gray);
    font-size: 1.4rem;
    font-weight: 300;

    @media(max-width: 768px) {
        font-size: 1.25rem;
    }
}

b, strong {
    font-weight: bold;
}

section {
    padding: 8rem 0;
    overflow: hidden;

    @media(max-width: 768px) {
        padding: 4rem 0;
    }
}

.heading-intro {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 0.8rem;
    letter-spacing: 1px;
    
    img.heading-icon {
        display: inline-block;
        width: 20px;
        margin-right: 4px;
        transform: rotate(180deg);
    }

    @media(max-width: 768px) {
        font-size: 0.7rem;
    }
}

.call-to-action {
    background: #ffcc00;
    text-transform: uppercase;
    font-weight: 600;
    padding: 12px 32px; 
    min-width: 300px;
    font-size: 1.35rem;
    transition: all 0.4s ease;

    @media(max-width: 768px) {
        min-width: auto;
        width: 100%;
        font-size: 1rem;
    }

    &:hover, &:focus {
        background: #1489f1;
        color: white;
        outline: 6px solid #80b5e933;
        border: 1px solid #ffffff55;
    }
}

.list-unstyled {
    padding-left: 1.25rem;
}

.bmc {
    font-family: 'Courier New', Courier, monospace;
    padding: 5px 7px 3px 6px;
    background: #ffffff11;
    border-radius: 4px;
    color: #ffcc00;
}

.separator {
    height: 2px;
    width: 100%;
    background: radial-gradient(circle,#505059 0,rgba(80,80,89,0) 100%);
}

.font-white { color: var(--white); }
.font-gray { color: var(--gray); }
.font-yellow { color: var(--yellow); }
.font-blue { color: var(--blue); }
.font-django-light { color: var(--django-light-color); }
.font-django-dark { color: var(--django-dark-color); }

.stars-container {
    margin-top: 18px;

    .stars{
        display: inline-block;
        width: 77px;
        overflow: hidden;

        svg {
            width: 80px;
            height: auto;
            fill: #fec600;
        }
    }    
    
    span.reviews {
        position: relative;
        bottom: 7px;
        font-family: var(--system-ui-font);
        color: #fffd;
        font-size: 0.8rem;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 1px;
        padding-left: 5px;
    }

    span.reviews-subheadline {
        display: block;
        font-family: var(--system-ui-font);
        color: #fff9;
        font-size: 0.8rem;
        font-weight: 400;
        letter-spacing: 1px;
        position: relative;
        bottom: 3px;
    }

    @media(max-width: 576px) {
        .stars{
            width: 62px;

            svg {
                width: 65px;
            }
        }    
        
        span.reviews {
            bottom: 6px;
            font-size: 0.95rem;
            letter-spacing: 0px;
            padding-left: 5px;
        }
    }
}

// ============================================================
// NAV

.nav {
    &.navbar-nav {
        .btn {
            font-size: 0.85rem;
            min-width: 0;
            padding: 6px 16px;
        }
    }
    
    &.nav-tabs {
        border-color: #282828;
        
        .nav-item {
            flex-grow: 1;
            
            .nav-link{     
                color: var(--white);
                font-size: 1.4rem;
                font-weight: 600;
                border-width: 0;
                width: 100%;
                padding: 22px 8px;
                
                &.active {
                    border-color: transparent;                
                    background-color: transparent;
                    border-bottom: 3px solid var(--yellow)
                }
                
                &:hover {
                    border-top-color: transparent;
                    border-right-color: transparent;
                    border-left-color: transparent;
                    border-bottom: 3px solid var(--yellow)
                }
            }
        }
    }
}

// ============================================================
// SPECIAL-OFFER

#special-offer {
    position: fixed;
    padding: 6px;
    background: #fd5656;
    width: 100%;
    z-index: 999;    

    p {
        font-weight: 400;
        font-size: 1rem;
        text-align: center;
        margin: 0;
        color: var(--dark-gray);        

        img {
            position: relative;
            bottom: 2px;

            -webkit-animation: pulse;
            animation: pulse;
            -webkit-animation-duration: 2.5s;
            animation-duration: 2.5s;
            -webkit-animation-iteration-count: infinite;   
            animation-iteration-count: infinite;
            
            @-webkit-keyframes pulse {
                0%  { opacity: 0.05 }
                50% { opacity: 1 }
            }
            
            @keyframes pulse {
                0%  { opacity: 0.05 }
                50% { opacity: 1 }
            }
        }
    }

    @media(max-width: 768px) {
        padding: 4px;
        p {
            font-size: 0.7rem;
        }
    }
}

// ============================================================
// NAVBAR

.navbar {         
    position: fixed;   
    border-radius: 0;
    margin-bottom: 0;
    min-height: 56px;
    padding: 0;
    border: 0;
    width: 100%;   
    z-index: 1000;
    transition: all 0.15s ease-out;

    .container {
        max-width: 1450px;
    }
    
    &.navbar-default {
        background: transparent;
        transition: all 0.15s ease-out;
        
        .container {      
            .navbar-header {
                img {
                    width: 130px;

                    @media(max-width: 320px) {
                        width: 100px;
                        height: 24px;
                    }
                }
            }
        }                            
    }  
    
    &.blur {
        background: #0e0c10bf;
        mix-blend-mode: normal;
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
    }

    .cta {
        animation: none;
        margin: 0;
        padding: 4px 12px;
        background: #f2a900;
        border-radius: 4px;
        box-shadow: none;

        a {
            font-size: 1.45rem;
            position: relative;
            top: 1px;
        }
    }
}

// ============================================================
// CARD

.card {
    // background-color: transparent;
    // border-color: #ffcc0017;
}

// ============================================================
// FLEX-BOX

.flex-box {
    display: flex;
    align-items: center;
    
    .left {
        &.left-15 { flex: 0.15 }
        &.left-20 { flex: 0.20 }
        &.left-35 { flex: 0.35 }
        &.left-40 { flex: 0.40 }
        &.left-45 { flex: 0.45 }
        &.left-50 { flex: 0.50 }
        &.left-60 { flex: 0.60 }
        &.left-65 { flex: 0.65 }
    }
    
    .right {
        &.right-35 { flex: 0.35 }
        &.right-40 { flex: 0.40 }
        &.right-50 { flex: 0.50 }
        &.right-55 { flex: 0.55 }
        &.right-60 { flex: 0.60 }
        &.right-65 { flex: 0.65 }
        &.right-80 { flex: 0.80 }
        &.right-85 { flex: 0.85 }
    }
    
    &.gap-30 { gap: 30px }
    &.gap-45 { gap: 45px }

    @media(max-width: 768px) {
        align-items: normal;
        flex-direction: column-reverse;
    }
}

// ============================================================
// IMAGE WITH CAPTION

.image-with-caption {
    display: flex;
    align-items: center;
    gap: 30px;
    
    .image {
        
    }
    
    .caption {
        span.caption-intro {
            font-family: 'Roboto Mono', sans-serif;
            color: #ffffffbb;
            text-transform: uppercase;
            font-size: 0.7rem;
            font-weight: bold;
            letter-spacing: 1px;
        }
        
        p {
            margin: 0;
            font-size: 2rem;
            line-height: 2rem;
            color: #FFF;
            font-weight: 600;
        }
    }
}

// ============================================================
// TABS

.tab-content {
    padding-top: 5rem;
}

// ============================================================
// BADGE WITH ICON

.badge-list {
    list-style: none;
    display: flex;
    gap: 15px;
    align-content: center;
    justify-content: flex-start;
    padding: 0;
    
    .badge-with-icon {
        border-radius: 20px;
        background: #161718;
        overflow: hidden;
        
        .icon {
            padding: 4px 0px 4px 15px;
            display: inline-block;
        }
        
        .caption {
            padding: 4px 15px 4px 4px;
            display: inline-block;
            font-family: 'Roboto', sans-serif;
            font-size: 0.8rem;
            text-transform: uppercase;
            font-weight: 600;
        }
    }

    @media(max-width: 1400px) {
        display: block;

        .badge-with-icon {
            border-radius: 10px;
            margin-bottom: 6px;
            .icon {

            }

            .caption {

            }
        }
    }
}

// ============================================================
// ACCORDION

.accordion {
    .accordion-item {
        margin-bottom: 8px;
        background: #111212;
        border-radius: 6px;
        border: 0;
        
        .accordion-header {
            button {
                display: block;
                background: #161718;
                padding: 18px;
                border-radius: 6px;
                color: #fff;
                box-shadow: unset;
                
                span.content-number {
                    font-family: 'Roboto', sans-serif;
                    opacity: 0.55;
                    font-size: 0.75rem;
                    text-transform: uppercase;
                    width: 77px;
                    display: inline-block;
                    position: relative;
                    bottom: 1px;
                    text-align: right;
                    padding-right: 10px;
                    font-weight: 500;
                }
                span.content-title {
                    font-family: 'Roboto', sans-serif;
                    font-weight: bold;
                    color: #d6d4e2;
                    font-size: 1rem;
                }
                span.caret {
                    float: right;
                    position: relative;
                    top: 7px;
                }
                span.progress-tracker {
                    font-family: 'Roboto', sans-serif;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 0.85rem;                                
                    padding: 6px 8px;
                    border-radius: 5px;                                
                    margin-left: 10px;
                    margin-right: 10px;
                    display: inline-block;
                    
                    &.coming-soon {
                        background: #33ab8020;
                        color: #34ab80;
                    }
                    
                    &.recording {
                        background: #2476e13a;
                        color: #18abe5;
                    }
                }
                .details-right {
                    float: right;
                    position: absolute;
                    right: 20px;
                    top: calc(50% - 8px);
                    
                    span.content-counter {
                        font-family: 'Roboto', sans-serif;
                        opacity: 0.65;
                        font-size: 0.85rem;
                        margin-right: 6px;
                        font-weight: 500;

                        @media(max-width: 768px) {
                            display: none;
                        }
                    }
                }
                
                &.collapsed {
                    border-bottom-right-radius: 6px;
                    border-bottom-left-radius: 6px;
                }
            }
        }
        
        .accordion-collapse {
            .accordion-body {
                .content-detail {
                    font-family: 'Roboto', sans-serif;
                    background: #0000002a;
                    color: #888;
                    padding: 12px;                    
                    border-radius: 6px;
                    margin-bottom: 8px;
                    
                    p {
                        font-size: 1rem;
                        color: #ffffff88;
                        margin-bottom: 0;
                    }
                    
                    img {
                        position: relative;
                        bottom: 3px;
                        margin-right: 3px;
                    }                                        
                }
                
                ul, ol {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    
                    li {
                        font-family: 'Roboto', sans-serif;
                        padding: 12px;
                        font-size: 1rem;
                        color: #d6d4e2;
                        
                        &:nth-child(2n+1) {
                            border-radius: 4px;
                            background: #0000002a;
                        }
                    }
                }
            }
        }
        
        &.django {
            background: linear-gradient(45deg, #134e416a 55%, #134e4125);
            
            .accordion-header {
                button {
                    background: unset;
                    
                    span.content-number {
                        font-family: 'DTL Prokyon', sans-serif;
                        text-transform: lowercase;
                        font-size: 1.35rem;
                        opacity: 0.8;
                    }
                }
            }
            
            .accordion-body {
                background: unset;
                border-radius: 0 0 6px 6px;
            }
        }
    }
}    

// ============================================================
// WARRANTY

.warranty {
    background-color: var(--dark-gray);
    border-radius: 8px;
    border: 1px solid #ffffff09;
    padding: 32px;        
    
    p:not(.heading-intro) {
        font-size: 1.35rem;
        line-height: 2rem;
    }

    @media(max-width: 576px) {
        img {
            width: 100%;
            max-width: 240px;
            margin-bottom: 16px;
        }
    }
}

// ============================================================
// SECTION

section#hero {
    min-height: 85vh;
    padding-top: calc(8rem + 64px);
    background: url("/assets/img/jornada-python-v4/noise-fill.png"), linear-gradient(315deg, rgba(0,90,255,0.0666667) 20%, #000 70%, #ffcc0033);

    #parallax-scene {
        width: 100%;
        overflow: hidden;
    }
    
    h2 {
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
        line-height: inherit;
        font-weight: 300;
        color: var(--gray);
    }    
    
    .payment-types {
        opacity: 0.35;
    }
    
    .container {
        max-width: 1450px;
    }

    @media(max-width: 768px) {
        padding-top: 10vh;

        .row {
            gap: 3rem;
        }
    }
}

// ============================================================
// SECTION

section#pitch {
    padding-top: 12rem;

    h2 {
        font-size: 2.1rem;
        line-height: 2.5rem;
    }

    .pitch-video {
        position: relative;

        object {
            width: 50px;
            position: absolute;
            z-index: 999;
            left: 300px;
            top: -50px;
        }

        button.iframe-loader-btn {
            background: url("/assets/img/jornada-python-v4/pitch-thumb.png") center no-repeat;
            background-size: 100%;
            border: 1px solid #ffffff22;
            border-radius: 8px;
            box-shadow: 0 0px 25px #cfb03b4a;
            width: 100%;
            padding-bottom: calc(9 / 16 * 100%);
            position: relative;
            transition: all 0.15s ease-out;
    
            &:hover {
                background-size: 103%;
                box-shadow: 0 0px 32px #cfb03b7a;
                border-color: #ffcc0099;
            }
        }
    
        .iframe-wrapper {
            padding-bottom: calc(9 / 16 * 100%);
            position: relative;
    
            iframe {
                border: 1px solid #ffffff33;
                border-radius: 8px;
                box-shadow: 0 0px 25px #cfb03b4a;
                position: absolute;
                height: 100%;
                width: 100%;
                background: #0a090f;
            }
        } 
    }

    .call-to-action {
        margin-top: 6rem;
    }
}

// ============================================================
// SECTION

section#reasons {
    background: url("/assets/img/jornada-python-v4/noise-fill.png"), linear-gradient(180deg, transparent 0%, #000 80%);
    border-radius: 50px 50px 0 0;
    
    .heading-3 {
        font-size: 1.4rem;
        margin-bottom: 4rem;
    }
    
    .feature {
        background-color: var(--dark-gray);
        border: 1px solid #ffffff07;
        border-radius: 6px;
        padding: 42px 32px;
        margin-bottom: 24px;
        text-align: center;
        
        h3 {
            font-family: 'Roboto', sans-serif;
            color: var(--gray);
            font-size: 1.35rem;
            line-height: 1.9rem;
            margin-bottom: 0;
        }

        .feature-thumb {
            position: relative;
            display: inline-block;

            .check {
                position: absolute;
                right: -16px;
                top: -16px;
                transform: rotate(-10deg);
            }
            
            img:not(.check) {
                width: 64px;
                // filter: grayscale(1);
                // opacity: 0.4;
                margin-bottom: 26px;
                padding: 12px;
                background: #ffffff10;
                border-radius: 6px;
            }
        }
    }

    @media(max-width: 768px) {
        .feature {
            padding: 26px 48px;
            margin-bottom: 15px;

            img {
                margin-bottom: 18px;
            }

            h3 {
                font-size: 0.9rem;
                line-height: 1.35rem;
            }
        }
    }
}

// ============================================================
// SECTION

section#first-testimonial {
    padding: 4rem 0;

    p.testimonial {
        font-family: 'Roboto', sans-serif;
        font-style: italic;
        font-size: 1.15rem;
        line-height: 28px;
        text-align: center;
        margin-bottom: 32px;
    }

    p.name {
        font-family: 'Indie Flower', sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
        color: #FFF;
        margin-bottom: 0.5rem;
    }

    p.title {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        margin-bottom: 0;
        font-size: 0.85rem;
        letter-spacing: 2px;
        color: #777;
        text-transform: uppercase;
    }
}

// ============================================================
// SECTION

section#arguments {
    .cursive {
        font-family: 'Indie Flower', cursive;
        letter-spacing: 1px;
        line-height: 2.15rem;
        font-size: 1.5rem;
    }
    
    p.larger {
        font-size: 1.4rem;
        line-height: inherit;
        margin-bottom: 3rem;
        text-align: left;
        font-weight: 300;
    }
    
    .flex-box {
        margin-bottom: 6.5rem;
    }

    .news {
        height: 520px;
        position: relative;
        
        .news-article {
            position: absolute;
            width: 100%;
        }
    }
    
    .salaries {
        height: 320px;
        margin: 64px 0;
        position: relative;
        
        .salaries-br {
            transform: skew(7deg, 4deg);
            
            img {
                position: absolute;
                width: 320px;
                top: 135px;
                left: 0;
                border-radius: 8px;            
            }
        }
        
        .salaries-us {
            transform: rotate3d(17, -84, 0, 16deg) skew(0, -3deg);
            
            p {
                font-weight: bold;
                font-size: 0.77rem;
                position: absolute;
                top: 313px;
                right: 0;
                margin: 0;
            }
            
            img {
                position: absolute;
                right: 0;
                top: 35px;
                box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.3);
                border-radius: 8px;            
            }
        }
    }

    @media(max-width: 1200px) {
        .salaries {
            height: unset;
        }
    }

    @media(max-width: 768px) {
        .news {
            height: 320px;

            .news-article {
                width: calc(100% - 30px);
            }
        }
    }

    @media(max-width: 350px) {
        .news {
            height: 250px;
        }
    }
}

// ============================================================
// SECTION

section#testimonials {
    .testimonials {
        position: relative;
        
        img {
            width: 100%;
            display: block;
            margin: 20px auto;
        }

        .circle {
            position: absolute;
            width: 250px;
            height: 250px;
            border-radius: 50%;
            filter: blur(120px);
            -webkit-filter: blur(120px);
            z-index: -1;
            opacity: 0.65;

            &.blue {
                background: #3d9aeb;
                right: 0;
                bottom: 0;
            }

            &.yellow {
                background: #ffcc00;
            }
        }
    }

    .stars-container {
        .stars {
            position: relative;
            bottom: 3px;
            width: 88px;

            svg {
                width: 90px;
            }
        }

        span.reviews {
            font-size: 0.95rem;
        } 
    }

    // .testimonial {
    //     background: #9595950a;            
    //     border-radius: 8px;
    //     overflow: hidden;
    //     margin: 6px 0;

    //     h3 {
    //         font-size: 1.25rem;
    //     }

    //     p {
    //         font-size: 0.95rem;
    //         line-height: 21px;
    //     }

    //     img {
    //         width: 15px;
    //         height: 15px;
    //     }
        
    //     &.empty {
    //         width: 100px;
    //         background: linear-gradient(270deg, #FFFFFFdd, transparent);
    //     }
    // }
}

// ============================================================
// SECTION

section#methodology-intro {
    padding: 7rem 0 10rem 0;
    position: relative;

    h2 {
        line-height: 2rem;
        font-size: 1.35rem;

        @media(max-width: 768px) {
            line-height: 2.35rem;
        }
    }

    .blur-bground {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .compass {
        position: absolute;

        &.compass-1 {
            left: 100px;
            top: 35px;
            width: 120px;
            animation: float 6s ease-in-out 1s infinite;
        }

        &.compass-2 {
            left: 30px;
            bottom: 175px;
            width: 50px;
            transform: rotate(30deg);
            animation: float-2 7s ease-in-out 0s infinite;
        }

        &.compass-3 {
            position: absolute;
            bottom: 25px;
            left: 220px;
            width: 80px;
            transform: rotate(-60deg);
            animation: float 8s ease-in-out 1.5s infinite;
        }

        &.compass-4 {
            right: 100px;
            top: 25px;
            width: 90px;
            animation: float 7s ease-in-out 2s infinite;
        }

        &.compass-5 {
            right: 16px;
            bottom: 200px;
            width: 60px;
            transform: rotate(60deg);
            animation: float 9s ease-in-out 0.5s infinite;
        }

        &.compass-6 {
            position: absolute;
            bottom: -20px;
            right: 320px;
            width: 125px;
            z-index: 999;
            transform: rotate(-60deg);
            animation: float-2 7s ease-in-out 0.75s infinite;
        }

        @media(max-width: 768px) {
            &.compass-1 {
                left: 40px;
                top: 35px;
                width: 100px;
            }
    
            &.compass-2 {
                display: none;
            }
    
            &.compass-3 {
                left: 20px;
                width: 60px;
            }
    
            &.compass-4 {
                right: 10px;
                top: 25px;
                width: 50px;
            }
    
            &.compass-5 {
                display: none;
            }
    
            &.compass-6 {
                position: absolute;
                bottom: -10px;
                right: 40px;
                width: 90px;
            }
        }
    }
}

// ============================================================
// SECTION

section#methodology {
    overflow: initial;

    .card {
        min-height: 400px;
        background: #121212;
        
        .card-img-top {
            position: absolute;
            max-height: 400px;
            width: unset;
            opacity: 0.05;
        }
    }
    
    .black-gradient {
        position: absolute;
        z-index: 999;
        bottom: 0;
        left: 50px;
        width: 87%;
        height: 110px;
        border-radius: 0 0 6px 6px;
        background: linear-gradient(0deg, #0d0d0d 30%, transparent);
        
        .scroll-downs {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            width: 28px;
            height: 20px;
            
            .mousey {
                width: 2px;
                padding: 2px 12px;
                height: 32px;
                border: 2px solid #fff;
                border-radius: 16px;
                opacity: 0.75;
                box-sizing: content-box;
            
                .scroller {
                    width: 3px;
                    height: 8px;
                    border-radius: 25%;
                    background-color: #fff;
                    animation-name: scroll;
                    animation-duration: 2.2s;
                    animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
                    animation-iteration-count: infinite;
                }
                @keyframes scroll {
                    0% { opacity: 0; }
                    10% { transform: translateY(0); opacity: 1; }
                    100% { transform: translateY(12px); opacity: 0;}
                }
            }
        }

        @media(max-width: 768px) {
            width: 469px;
        }

        @media(max-width: 1200px) {
            display: none;
        }
    }
    
    .methodology-wrapper {
        position: relative;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 5rem;

        .nav {
            &.nav-tabs {
                width: 100%;
            }

            @media(max-width: 768px) {
                &.nav-tabs {
                    position: sticky;
                    top: 82px;
                    z-index: 999;
                    background: #111;
                    box-shadow: 0px 5px 18px #000;
                }
                .nav-link {
                    font-size: 1rem;
                }
            }
        }

        .content-wrapper {
            .course-content {
                padding: 0 30px;
                border-radius: 8px;
                
                .accordion {
                    height: 580px;
                    overflow-y: scroll;
                    position: relative;
                    padding: 10px 10px 85px 10px;
                    border-radius: 8px;
                    
                    &::-webkit-scrollbar {
                        background: #0c0c0c;
                        height: 2px;
                        width: 2px
                    }
                    
                    &::-webkit-scrollbar-track {
                        border-radius: 5px
                    }
                    
                    &::-webkit-scrollbar-thumb {
                        border-radius: 50%;
                        background: radial-gradient(#ffcc00 43%, transparent 80%);
                    }                    
                }    
                
                @media(max-width: 768px) {
                    padding: 0;

                    .accordion {
                        height: 400px;
                        padding: 10px;
                    }                    
                }
            }
        }
        
        .carousel {
            .carousel-item {
                & > img {
                    width: 100%;
                    border-radius: 8px;
                }
                
                .coming-soon {
                    font-family: 'Roboto', sans-serif;
                    font-weight: bold;
                    background: var(--django-light-color);
                    padding: 4px 8px;
                    border-radius: 4px;
                    color: #FFF;
                    font-size: 0.7rem;
                    display: inline;
                    margin: 0 4px;
                }
            }

            @media(max-width: 768px) {
                .carousel-item {
                    & > img {
                        filter: brightness(0.5);
                    }
                }
            }
        }
    }
}

// ============================================================
// SECTION

section#instructor {
    position: relative;

    .instructor {
        background: #171717;
        padding: 42px;
        width: 100%;
        max-width: 700px;
        position: absolute;
        left: 45vw;
        border-radius: 8px;
        top: 3vh;
        box-shadow: 0px 6px 24px rgba(0, 0, 0, 35%);

        p:not(.heading-intro) {
            font-size: 1.2rem;
            line-height: 1.65rem;
        }

        h2 {
            font-size: 2.5rem;
        }
    }
}

// ============================================================
// SECTION

section#investment-intro {
    padding: 4rem 0;
    position: relative;
    overflow: initial;

    h2.intro {
        font-size: 1.5rem;
        color: #ffffffbb;
    }

    h2:not(.intro) {
        font-size: 2.5rem;
        line-height: 2.75rem;
        color: #FFF;
        font-weight: 800;
        margin-bottom: 6rem;
    }

    p {
        font-size: 1.4rem;
        line-height: inherit;
        margin: 3rem 0;
        text-align: left;
        font-weight: 300;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0 0 8rem 0;

        li {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 16px;
            border-bottom: 1px dashed #fff5;
            position: relative;

            span.description {
                flex: 0.75;
                font-size: 1.3rem;
                line-height: 1.65rem;
                font-weight: 300;
                text-align: left;
                
                img {
                    width: 30px;
                    margin-right: 8px;
                }
            }

            span.price {
                font-size: 2rem;
                font-weight: bold;
                color: #FFF;

                span.currency-symbol {
                    font-size: 0.85rem;
                    font-weight: 400;
                    color: #ffcc00;
                    width: 28px;
                    display: inline-block;
                }
            }

            &.highlight {
                border-bottom-color: #ffcc00;
            }

            &:last-child {
                border-bottom-color: #ffcc00;
                background-color: #ffcc000c;

                span.description {
                    font-size: 1.4rem;
                    font-weight: 400;
                    color: #FFF;
                }

                div.line-through {
                    position: absolute;
                    width: 116px;
                    border-bottom: 2px solid #fff9;
                    right: 10px;
                }
            }
        }
    }

    .star-struck {
        position: absolute;

        &.star-struck-1 {
            width: 125px;
            top: 0;
            left: 12vw;
            animation: float 6s ease-in-out 0.5s infinite;
        }

        &.star-struck-2 {
            width: 50px;
            bottom: 70vh;
            left: 5vw;
            animation: float-2 8s ease-in-out 2s infinite;
        }

        &.star-struck-3 {
            width: 140px;
            right: 8vw;
            top: -50px;
            animation: float 5.5s ease-in-out 0.8s infinite;
        }

        &.star-struck-4 {
            width: 100px;
            right: 3vw;
            bottom: 30vh;
            animation: float-2 7s ease-in-out 1s infinite;
        }

        &.star-struck-5 {
            width: 40px;
            right: 30vw;
            bottom: -120px;
            animation: float-2 10s ease-in-out 1s infinite;
        }

        &.star-struck-6 {
            width: 100px;
            left: 25vw;
            bottom: -140px;
            animation: float-2 5.5s ease-in-out 1s infinite;
            z-index: 99;
        }

        @media(max-width: 992px) {
            display: none;
        }
    }

    @media(max-width: 992px) {
        overflow: hidden;
    }

    @media(max-width: 500px) {
        p {
            font-size: 1.35rem;
            margin: 2rem 0;
        }
    
        ul {
            margin: 0 0 4rem 0;
    
            li {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding: 16px;
                border-bottom: 1px dashed #fff5;
                position: relative;
    
                span.description {
                    font-size: 1.15rem;
                    line-height: inherit;
                    
                    img {
                        width: 23px;
                        margin-right: 6px;
                    }
                }
    
                span.price {
                    font-size: 1.65rem;
    
                    span.currency-symbol {
                        width: 24px;
                    }
                }
    
                &:last-child {
                    border-bottom-color: #ffcc00;
                    background-color: #ffcc000c;
    
                    span.description {
                        font-size: 1.25rem;
                        line-height: 1.5rem;
                    }
    
                    div.line-through {
                        width: 100px;
                    }
                }
            }
        }
    }
}

// ============================================================
// SECTION

section#investment {
    .price-wrapper {
        padding: 1px;
        background: linear-gradient(90deg, #fc00 10%, #ffcc00 30%, #ffcc00 70%, #fc00 90%);
        margin-bottom: 3rem;
        border-radius: 8px;
    
        .price-box {
            border-radius: 8px;
            overflow: hidden;
            display: flex;
            background-color: #111111ee;
            align-items: center;
            border: 1px solid #ffffff10;
        
            .price-container {
                text-align: center;
                padding: 76px 56px;
                display: flex;
                flex-direction: column;
                align-items: center;
                flex: 0.6;
                background-color: #16171888;
                background-position: 50% 50%;
                background-size: cover;
                background-image: url("/assets/svg/jornada-python-v4/circle-bground.svg");            
                
                .heading-3 {
                    text-transform: uppercase;
                    font-weight: 400;
                    color: var(--white);
                    font-size: 1.25rem;
                    letter-spacing: 5px;
                }

                .heading-4 {
                    width: 100%;
                    font-size: 1rem;
                    letter-spacing: 2px;
                    background: #f74545;
                    margin: 0;
                    padding: 9px 0;
                    text-transform: uppercase;
                    line-height: 20px;
                }
                
                .price {
                    font-family: 'Roboto', sans-serif;
                    margin: 2rem 0 2.5rem 0;

                    .currency-symbol {
                        font-size: 1.5rem;
                        margin-right: 0.35rem;
                    }
                    
                    .investment {
                        font-weight: bold;
                        font-size: 4.5rem;
                    }
                    
                    .cents {
                        font-size: 1.5rem;
                        position: relative;
                        right: 10px;
                    }

                    .installments {
                        font-size: 1.75rem;
                        color: var(--gray);
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        font-weight: 300;
                    }

                    .total-price {
                        display: block;
                        font-size: 1.15rem;
                        color: var(--gray);
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        font-weight: 300;                        
                    }
                }
                
                p.installments {
                    font-size: 0.8rem;
                    color: var(--gray);
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-weight: 400;
                }
                
                .call-to-action {
                    width: 100%;
                    padding: 16px;
                }
                
                .payment-methods {
                    margin-top: 1.5rem;
                    max-width: 450px;
                }

                @media(max-width: 768px) {
                    padding: 76px 20px;

                    .price {
                        .installments {
                            display: block;
                            margin-top: 16px;
                            margin-bottom: -14px;
                        }
                    }
                }
            }

            @media(max-width: 992px) {
                flex-direction: column;
            }
        }
        
        .info-container {
            display: flex;
            flex-direction: column;
            flex: 0.4;
            padding: 32px;
            
            ul {
                padding-left: 0.8rem;
                li {
                    margin-bottom: 6px;
                    font-size: 1.15rem;
                }
            }

            @media(max-width: 768px) {
                padding: 24px;

                ul {
                    padding-left: 0.5rem;
                    li {
                        margin-bottom: 4px;
                    }
                }
            }
        }
    }

    .special-offer {
        background-color: #ffc107;
        border-radius: 8px;
        border: 1px solid #ffffff09;
        padding: 26px 40px;
        display: flex;
        align-items: center;
        margin-bottom: 24px;

        .icon {
            flex: 0.1;

            img {
                opacity: 0.1;
                width: 65%;
                -webkit-animation: pulse;
                animation: pulse;
                -webkit-animation-duration: 2.5s;
                animation-duration: 2.5s;
                -webkit-animation-iteration-count: infinite;   
                animation-iteration-count: infinite;
                
                @-webkit-keyframes pulse {
                    0%  { opacity: 0.1 }
                    30% { opacity: 1 }
                    90% { opacity: 1 }
                }
                
                @keyframes pulse {
                    0%  { opacity: 0.1 }
                    30% { opacity: 1 }
                    90% { opacity: 1 }
                }
            }
        }

        .text {
            flex: 0.9;
        }

        @media(max-width: 768px) {
            padding: 22px;

            .text {
                flex: unset;
            }
        }
    }
}

// ============================================================
// SECTION

section#faq-intro {
    position: relative;
    padding: 4.5rem 0;

    .bground {
        background-image: url("/assets/img/jornada-python-v4/whatsapp-bground.png");
        background-repeat: repeat;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.05;
    }
}

// ============================================================
// SECTION

section#faq {
    .call-to-action {
        background-image: linear-gradient(45deg, #078d6f 0%, #0bb992 100%);
        color: #FFF;
        
        img {
            width: 25px;
            position: relative;
            bottom: 2px;
        }
    }
}

// ============================================================
// WHATSAPP FIXED

a.whatsapp-fixed {
    z-index: 500;
    display: flex;
    bottom: 10px;
    right: 10px;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #04d361;
    transition: all 0.15s ease;
    -webkit-animation: shadow-pulse;
    animation: shadow-pulse;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-iteration-count: infinite;   
    animation-iteration-count: infinite;
    
    img {
        width: 36px;
    }

    &:hover {
        box-shadow: 0 0 0 2px #FFF;
        background: #09a750;
        -webkit-animation: none;
        animation: none;
    }

    @-webkit-keyframes shadow-pulse {
        0% {
            box-shadow: 0px 0px 6px #09a75000;
        }
        50% {
            box-shadow: 0px 0px 18px #09a750;
        }            
    }
    
    @keyframes shadow-pulse {
        0% {
            box-shadow: 0px 0px 6px #09a75000;
        }
        50% {
            box-shadow: 0px 0px 18px #09a750;
        }
    }
}

// ============================================================
// FOOTER

footer {
    padding: 1rem 0;
    display: flex;
    background: #ffffff08;
    
    .wrapper {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        
        img {
            flex: 0.05;
        }
        
        button {
            font-family: 'Roboto', sans-serif;
            background: #ffffff0a;
            border: 0;
            color: #FFFFFFAA;
            padding: 8px 12px 6px 20px;
            border-radius: 5px;
            font-size: 1rem;
            
            svg {
                margin-left: 4px;
            }
        }

        @media(max-width: 1200px) {
            button {
                position: absolute;
                right: calc(50% - 83px);
            }
        }
    }
}

@-webkit-keyframes float {
    0%   { transform: rotate(15deg) translateY(0) }
    50%  { transform: rotate(-5deg) translateY(-20px) }
    100% { transform: rotate(15deg) translateY(0) }
}
@keyframes float {
    0%   { transform: rotate(15deg) translateY(0) }
    50%  { transform: rotate(-5deg) translateY(-20px) }
    100% { transform: rotate(15deg) translateY(0) }
}

@-webkit-keyframes float-2 {
    0%   { transform: rotate(-15deg) translateY(0) }
    50%  { transform: rotate(5deg) translateY(15px) }
    100% { transform: rotate(-15deg) translateY(0) }
}
@keyframes float-2 {
    0%   { transform: rotate(-15deg) translateY(0) }
    50%  { transform: rotate(5deg) translateY(15px) }
    100% { transform: rotate(-15deg) translateY(0) }
}