// @import url('variables.css');

@font-face {
    font-family: 'GT Walsheim';
    src: url('/assets/fonts/gt-walsheim/gt-walsheim-web.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/gt-walsheim/gt-walsheim-web.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/gt-walsheim/gt-walsheim-web.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/gt-walsheim/gt-walsheim-web.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/gt-walsheim/gt-walsheim-web#svgFontName') format('svg'); /* Legacy iOS */
}

body {
    font-size: 18px;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
}

a {
    &:hover {
        text-decoration: none;
    }
}

// HEADER
// ================================================================

.header {        
    .navbar {
        .navbar-toggle {
            border: 0;
            height: 50px;
            width: 50px;            
            text-align: center;
            margin: 15px 16px;

            .icon-bar {
                width: 30px;
                height: 4px;
                margin: 5px 0;
                border-radius: 4px;
            }
        }

        &.navbar-default {
            min-height: 80px;
            border: 0;
            margin: 0;
            background: transparent;
        }
    
        .navbar-brand {
            min-height: 80px;
            
            img {
                height: 50px;
            }
        }
    
        .nav {
            min-height: 80px;

            li {
                a {
                    font-family: 'Oswald', sans-serif;
                    letter-spacing: 0.1px;
                    font-size: 15px;
                    padding: 30px;
                    text-transform: uppercase;
                    color: #888;
                    position: relative;
                    bottom: 0;
                    transition: all 0.15s ease;
    
                    &:hover {
                        color: #333;
                        bottom: 4px;
                    }

                    @media (max-width: 767px) {
                        font-size: 1.8rem;
                        text-align: center;
                        padding: 24px 12px;
                    }
                }

                @media (max-width: 767px) {
                    border-bottom: 1px solid #DDD;
                }
            }

            &.navbar-nav {
                @media(max-width: 767px) {
                    margin: 0 -15px;
                }
            }
        }
    }
}

// HEADER SECTION
// ================================================================

.header-section {
    background: #F7F7F7;    
    min-height: calc(100vh - 85px);

    .header-section-wrapper {
        display: table;
        vertical-align: middle;
        min-height: calc(100vh - 85px);
        margin: 0 auto;

        .header-section-content {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            max-width: 100%;         
            
            object {
                max-width: 500px;
            }
    
            h1 {
                font-family: 'Oswald', sans-serif;
                font-size: 6rem;
                text-transform: uppercase;
                position: relative;
                // bottom: 35px;
                margin: 32px 0 12px 0;
                color: #555;

                @media (max-width: 767px) {
                    margin: 12px 0 24px 0;
                    font-size: 3rem;
                }
            }
        
            h2 {
                font-family: 'Roboto Condensed', sans-serif;
                font-size: 2.2rem;
                color: #777;      
                margin-bottom: 64px;  

                @media (max-width: 767px) {
                    font-size: 1.7rem;
                    margin-bottom: 24px;
                }
            }

            .call-to-action {
                border: 0;
                border-radius: 6px;
                margin-bottom: 16px;         
                
                a {
                    font-family: 'Roboto Condensed', sans-serif;
                    text-transform: uppercase;
                    letter-spacing: 1.5px;  
                    display: inline-block;
                    padding: 20px 48px;                
                    font-size: 1.5rem;
                    color: #FFF;
                }
                
                @media (max-width: 767px) {
                    max-width: 280px;
                    width: 100%;
                    padding: 12px 2px;
                }

                &.blog {
                    background: #306998 asset_url("/assets/svg/blog-bground-pattern.svg");

                    &:hover {
                        background: #205988 url('/assets/svg/blog-bground-pattern.svg');
                    }
                }

                &.sliders {
                    background: #ffd43b url('/assets/svg/dark-bground-pattern.svg');

                    &:hover {
                        background: #efc42b url('/assets/svg/dark-bground-pattern.svg');
                    }

                    @media (max-width: 767px) {                        
                        margin-bottom: 32px;
                    }                    
                }

                @media (max-width: 767px) {
                    padding: 12px 36px;
                    font-size: 1.4rem;
                }
            }
        
            .banner-image {
                width: 100%;
                position: relative;
        
                &.editor {
                    top: 35px;
                    left: 35px;
                }
        
                &.app {
                    bottom: 35px;
                    right: 50px;
                }
            }
        }
    }
}

.section-header {        
    font-family: 'GT Walsheim', sans-serif;
    font-size: 5rem;
    color: #3e464f;    
    letter-spacing: -0.5px;
    margin: 0 0 72px 0;

    img {
        height: 40px;
        position: relative;
        bottom: 6px;
    }
}

.features-section {
    padding: 64px 0;

    .feature {
        text-align: center;
        padding: 0 15%;

        object {
            margin-bottom: 16px;
            max-width: 450px;
        }

        h2 {
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 3rem;
            // color: $python-yellow;
        }

        p {
            font-family: 'GT Walsheim', serif;
            font-size: 1.6rem;
            color: #4b545e;
            line-height: 2.5rem;
            margin-bottom: 32px;;
        }

        @media(max-width: 1200px) {
            padding: 0 5%;
        }

        @media(max-width: 767px) {
            padding: 0;

            object {

            }
        }
    }
}

// BLOG SECTION
// ================================================================

#blog {
    padding: 96px 0;
    background: #f2f2f2 url('/assets/svg/dark-bground-pattern.svg');

    .section-header {
        color: #454545;
    }
}

// SLIDERS SECTION
// ================================================================

#sliders {
    padding: 96px 0;
    background: #02b3e4 url('/assets/svg/blog-bground-pattern.svg');

    .section-header {
        color: #FFF;
    }

    .button {
        &:hover {
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
        }
    }
}

// CARD
// ================================================================

.card {
    display: block;
    border-radius: 3px;
    background-color: #fff;
    width: 99.9999%;
    border: 1px solid #E2E2E2;
    margin-bottom: 32px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
    z-index: 999;
    position: relative;
    transition: all .17s ease;

    &.with-background {
        box-shadow: 0 -3px 8px rgba(0, 0, 0, 0.075);
    }
    
    .card-frame {
        padding: 24px 8px;
        background: #FFF;
        text-align: center;
        white-space: nowrap;
        border-radius: 7px 7px 0 0;
        line-height: 0;

        img {
            max-width: 90%;
            max-height: 90%;
            overflow: hidden;
        }

        object {
            height: 225px;
        }

        @media (max-width: 767px) {
            padding: 12px 8px;

            object {
                height: 150px;
            }
        }
    }

    .header {
        width: 100%;
        font-size: 145%;
        color: #8f8f8f;
        font-weight: 700;
        display: block;
        background: #f5f5f5;
        padding: 10px
    }

    .caption {
        text-align: left;
        padding: 15px;
    
        .card-title {            
            font-family: 'Roboto Condensed',sans-serif;
            // font-family: 'Roboto Condensed',sans-serif;
            margin-top: 0;
            color: #757575;
            font-weight: bold;
            font-size: 2.4rem;
            letter-spacing: -0.1px;            
        }

        .card-excerpt {
            font-family: 'Lato',sans-serif;
            font-size: 15px;
            font-weight: 400;
            color: #7a7a7a;
            height: 90px;
            overflow: hidden;
            text-overflow: ellipsis;
            background: -webkit-linear-gradient(#666 60%,#fff 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    
    .card-footer {
        margin: 0;

        p {
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 1.4rem;
            color: #555;
            font-weight: 100;
            margin: 0;
        }
    }

    &:hover {
        opacity: 1 !important;                
    }
        
    &.opacity {
        opacity: 0.6;
    }
}

.card-wrapper {
    .background-card {
        display: block;
        border-radius: 3px;
        background-color: #FCFCFC;
        border: 1px solid #E2E2E2;
        width: calc(100% - 30px);
        height: calc(100% - 30px);    
        position: absolute;
    
        &.first {
            top: -10px;
            left: 30px;
            z-index: 2;
            box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.05);
            width: calc(100% - 60px);
            transition: all 0.1s linear;
        }
    
        &.second {
            top: -20px;
            left: 45px;
            z-index: 1;
            box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.05);
            width: calc(100% - 90px);
            transition: all 0.1s linear;
        }
    }

    &:hover .background-card.first {    
        box-shadow: 0 -6px 6px rgba(0, 0, 0, 0.02);
    }

    &:hover .background-card.second {        
        box-shadow: 0 -6px 6px rgba(0, 0, 0, 0.02);
    }

    &:hover .card.with-background {
        border-color: #CCC;
        box-shadow: 0 -3px 12px rgba(0, 0, 0, 0.1);
    }
}

// FOOTER
// ================================================================

#footer {
    background: #F7F7F7;    
    padding: 96px 16px;
    border-top: 1px solid #eaeaea;
    
    .footer-wrapper {
        .footer-label {
            font-size: 15px;
            font-family: 'Muli';
            font-weight: 400;
            color: #737d83;
        }
    
        .footer-logo {
            height: 50px;
        }
        
        p {
            font-family: 'Open Sans', sans-serif;
            font-size: 1.6rem;
            color: #515151;
            margin: 0 0 16px 0;
            font-weight: 700;
            letter-spacing: -0.3px;
        }
    
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
    
            &.social-medias li {
                display: inline-block;
                margin-right: 12px;
                text-align: center;                

                a {
                    border: 0;
                    left: 0;
                }

                @media(max-width: 767px) {
                    margin: 0 12px;
                }
            }
            
            li a {
                display: inline-block;
                font-size: 1.5rem;
                color: #888;
                font-family: 'GT Walsheim';
                font-weight: 400;
                transition: all 0.15s ease-in;
                position: relative;
                border-left-width: 4px;
                border-left-style: solid;
                border-left-color: transparent;
                left: -4px;

                img {
                    width: 25px;
                }
                
                &:hover {
                    color: #333;
                    border-left-color: #E7E7E7;
                    padding-left: 8px;
                }

                @media(max-width: 767px) {
                    font-size: 1.7rem;
                    margin-bottom: 8px;

                    img {
                        width: 35px;
                    }
                }
            }
        }

        @media(max-width: 767px) {            
            text-align: center;
            margin-bottom: 32px;
        }
    }

    @media (max-width: 767px) {
        padding: 48px 0;
    }
}

#footer-signup {
    padding: 96px 16px;
    
    h2 {
        font-family: 'Open Sans', sans-serif;
        margin: 0 0 32px 0;    
    }

    p {
        font-family: 'GT Walsheim', sans-serif;
    }
}

#footer-copyright {
    background: #E7E7E7;
    padding: 14px 16px;
    border-top: 1px solid #DDD;
    
    p {
        font-family: 'Ubuntu', sans-serif;
        color: #515151;
        margin: 0;
        font-size: 14px;
        font-weight: 400;
    }
}

// MAILCHIMP 
// ================================================================

#mc_embed_signup_scroll {
    margin-bottom: 8px;
    line-height: 0;

    .signup-input {
        font-family: 'Roboto Condensed', sans-serif;
        border: 1px solid transparent;
        color: #3e464f;
        height: 47px;
        width: 98%;
        background-color: #f0f2f4;
        padding: 6px 12px;
        font-size: 13px;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        transition: all 0.25s ease;
        
        &:focus {
            outline: none;
            border-color: #2d98da;
            box-shadow: 0 0 6px rgba(45, 152, 218, 0.5);
        }
    }
    
    #mc-embedded-subscribe {
        margin: 0;
        width: 100%;
        padding: 12px 4px;
        background: #02b3e4;
        border: 0;
        border-radius: 4px;
        text-transform: uppercase;
        transition: all .15s ease;
        text-align: center;
        color: #FFF;
        
        span {
            font-weight: 600;
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 16px !important;
        }

        &:hover {
            background: #0093c4
        }

        @media(max-width: 767px) {
            padding: 16px 6px;
        }
    }
    
    .mc-subscribe-wrapper {
        width: 60%;
        margin: 0 auto
    }
}


.blue-yellow-separator {
    height: 5px;
    width: 100%;
    background: url('/assets/img/separator.png') repeat;

    &.no-repeat {
        background-repeat: no-repeat;
        background-position: center        
    }
}

// EMAIL MODAL
// ================================================================

.email-modal {

    .modal-body {
        background: #fff;
        padding: 40px 55px;
        border-radius: 8px;
    }

    .modal-content {
        border: 0;
        box-shadow: 0 5px 25px rgba(0,0,0,.3)
    }

    .modal-dialog {
        margin-top: calc(50vh - 158px);
    }

    .close-icon {
        color: #555;
        position: relative;
        top: -25px;
        left: 30px;
        
        &:hover {
            color: #ddd
        }
    }

    .modal-label{
        margin-bottom: 0
    }

    .modal-title {
        font-family: open sans,sans-serif;
        color: #a8b3c3;
        font-weight: 800;
        margin-bottom: 4px;
        font-size: 12px;
        text-transform: uppercase
    }

    .email-label {
        color: #606873;
        font-family: open sans;
        font-weight: 800
    }

    .pos-input {
        font-size: 14px
    }

    .mailchimp-input {
        margin: 26px 0
    }
}

// EMAIL SIGNUP
// ================================================================

.email-signup {
    padding: 0;
    margin: 60px 0;
    -webkit-box-shadow: 0 0 25px #d3d9de;
    box-shadow: 0 0 25px #d3d9de;
    border-radius: 10px;
    width: 130%;
    position: relative;
    left: -15% ;
    border: 1px solid #d3d8dc;

    p {
        padding: 0
    }
    
    img {
        border-radius: 10px 0 0 10px
    }

    .signup-body {
        padding: 50px;
        
        .greeting {
            font-family: 'Roboto Condensed',sans-serif;
            display: block;
            padding: 0;
            color: #7b8696;
            font-weight: 800;
            margin-bottom: 4px;
            font-size: 12px;
            text-transform: uppercase
        }

        .signup-text {
            display: block;
            padding: 0;
            color: #606873;
            font-family: 'Open Sans',sans-serif;
            font-weight: 800;
            font-size: 15px;
            margin-bottom: 24px;
            
            .blue {
                color: #02b3e4
            }
        }

        @media(max-width: 1199px) {
            padding: 5%
        }
    }

    @media(max-width: 1199px) {
        width:100%;
        left: 0
    }
}

// BANNER
// ================================================================

.banner {
    .banner-wrapper {
        display: table;
        width: 100%;

        .banner-content {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            padding: 96px 0;

            h1 {
                font-family: 'Oswald', sans-serif;
                text-transform: uppercase;
                font-size: 5rem;
                color: #FFF;
                margin: 0 0 32px 0;
            }

            h2 {
                font-family: 'Muli', sans-serif;
                font-size: 1.8rem;
                font-weight: 400;
                color: #FFF;
            }
        }
    }

    &.blog-banner {
        background: #2d98da url('/assets/svg/blog-bground-pattern.svg');
    }

    &.sliders-banner {
        background: #f3c30e url('/assets/svg/blog-bground-pattern.svg');
    }

    &.zop-banner {
        background: #34495e url('/assets/svg/blog-bground-pattern.svg');
    }
}

.posts-list,
.sliders-list {
    background: #f7f7f7 url('/assets/svg/dark-bground-pattern.svg');
    padding: 128px 0;   
}

// STICKY NEWSLETTER
// ================================================================

.sticky-newsletter {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 265px;
    border-radius: 3px 0 0 3px;
    margin-bottom: 2%;
    padding: 25px 1px;
    box-shadow: 0 0 16px rgba(0,0,0,.3);
    background: #fafafa;
    color: #02b3e4;
    z-index: 999;
    transition: all .15s ease;

    span {
        font-family: 'GT Walsheim', sans-serif;
        font-weight: 400;
        white-space: nowrap;
        text-align: center;
        margin: 0 auto
    }

    i {
        margin-right: 5px
    }

    &:hover {
        background: linear-gradient(to bottom,#57dee8,#02b3e4);
        color: #fafafa;
        text-decoration: none;
        outline: 0
    }

    &:link,
    &:visited,
    &:focus,
    &:active,
    &:hover {
        text-decoration: none;
        outline: 0
    }

    .rotate-text {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg)
    }
}

// BUTTON STYLE
// ================================================================

.button {    
    background: #FFF;
    font-family: 'Roboto Condensed', sans-serif;    
    color: #555;
    font-weight: 600;
    border: 0;
    padding: 12px 36px;
    transition: all 0.2s ease;

    &:hover {
        color: #000;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    }
}

// RIPPLE OUT ANIMATION
// ================================================================

@-webkit-keyframes ripple-out-animation {
    100% {
        top: -12px;
        right: -12px;
        bottom: -12px;
        left: -12px;
        opacity: 0;
    }
}

@keyframes ripple-out-animation {
    100% {
        top: -12px;
        right: -12px;
        bottom: -12px;
        left: -12px;
        opacity: 0;
    }
}

.ripple-out-animation {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
}

.ripple-out-animation:before {
    content: '';
    position: absolute;
    border: 2px solid #fff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.ripple-out-animation:hover:before, 
.ripple-out-animation:focus:before, 
.ripple-out-animation:active:before {
    -webkit-animation-name: ripple-out-animation;
    animation-name: ripple-out-animation;
}

// SOCIAL MEDIA AFFIX
// ================================================================

.social-media-affix {
    opacity: 0;
    transition: all .3s linear;

    h2 {
        font-family: 'Muli', sans-serif;
        color: #404a54;
        font-weight: 600;
        text-align: center;
        font-size: 1.5rem;
        padding: 16px 0 12px 0;
        background: #FAFAFA;
        margin: 0;
        border-bottom: 1px solid #EAEAEA;
    }
    
    &.affix {
        opacity: 1;
        transition: all .3s linear;
        top: 50%;
    }

    ul {
        list-style: none;
        padding:0;
        margin: 0;
        position: relative;
        top: -100px;

        li {
            margin: 12px 8px;
            line-height: 0;

            a {
                height: 36px;
                width: 36px;
                border-radius: 50%;
                background: transparent;
                display: inline-block;
                transition: all .2s ease;

                i {
                    font-size: 2.5rem;
                    margin: 0 .5rem;
                    position: relative;
                    left: 6px;
                    top: 15px;
                    color: #5c6163;
                    transition: all 0.15s ease;
                }

                &:hover i {
                    left: 12px;
                    color: #333;
                }
            }
        }
    }

    @media(max-width: 600px) {
        &.affix {
            bottom:0;
            top: auto;
        }
    
        ul {
            top: 0;
            
            li {
                margin-bottom: 8px;
            }
        }    
    }

    @media(max-width: 767px) {
        &.affix {
            top: auto;
            bottom: 0;
            width: 100%;
            background: #FFF;
            border-top: 1px solid #DDD;
            z-index: 999;
            box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.1);
        }

        ul {
            line-height: 0;
            top: auto;
            text-align: center;

            li {
                display: inline-block;
                text-align: center;
                width: 22.5%;
                margin: 0;

                a {
                    height: auto;
                    width: auto;
                    padding: 10px 0;

                    i {
                        font-size: 1.6rem;
                        left: auto;
                        top: auto;
                        margin: 0;
                    }
                }
            }
        }
    }    
}

// ABOUT PAGE
// ================================================================

#about {
    
    .about-banner {
        padding: 148px 0;
        border-top: 1px solid #E2E2E2;
        border-bottom: 1px solid #E2E2E2;
        background: #F7F7F7 url('assets/svg/dark-bground-pattern.svg');
        text-align: center;

        h2 {
            font-family: 'Roboto Condensed', sans-serif;
            color: #444;
            font-size: 4rem;
            font-weight: bold;
            margin: 0 auto;
            max-width: 810px;
        }
    }
    
    .about-container {
        padding: 64px 32px;
        max-width: 810px;        
        
        p {
            margin-bottom: 16px;
        }

        li {
            margin-bottom: 6px;
        }

        p, ul, li {
            font-family: 'Raleway', sans-serif;
            color: #3e464f; 
            font-size: 1.8rem;
            
            &.hello {
                font-family: 'Shadows Into Light', cursive;
                font-size: 3rem;
                margin-bottom: 3rem;
            }            
        }

        .signature {
            margin-top: 6rem;
            margin-bottom: 0;            
            font-size: 3rem;
            font-family: 'Cedarville Cursive', cursive;
        }
        
        .founder {
            font-size: 1.5rem;            
            color: #888;
        }
    }
}

#about-read-next {

    h2 {
        font-family: 'GT Walsheim', sans-serif;
        color: #3e464f;
        max-width: 810px;
        margin: 0 auto;
        padding: 64px 32px;
    }

    .read-next {     
        font-family: 'GT Walsheim', sans-serif;
        font-size: 4rem;
        letter-spacing: -0.4px;
        display: inline-block;
        width: 100%;
        padding: 148px 0;        
        text-align: center;
        color: #FFF;
        text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
        transition: all 0.15s ease;
        
        &.blog {
            background: #2d98da url("/assets/svg/blog-bground-pattern.svg");
        }

        &.sliders {
            background: #f3c30e url("/assets/svg/blog-bground-pattern.svg");
        }

        &:hover {
            text-decoration: underline;
        }

        @media(max-width: 991px) {
            padding: 92px 0;
            font-size: 2.5rem;
        }
    }
}

// ZEN OF PYTHON PAGE
// ================================================================

#zen-of-python {
    .terminal-wrapper {
        padding: 64px 0;
        background: #F2F2F2 url('assets/svg/dark-bground-pattern.svg');

        .terminal {
            width: 80%;
            margin: 0 auto;
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
            
            pre {
                font-family: 'Menlo', 'Monaco', 'Consolas','Courier New',monospace;
                display: inline-block; 
                margin: 0;
                padding: 0;
                position: relative;
                top: 5px;
                font-size: 1.4rem;                                          
            }

            .terminal-header {
                background: #F2F2F2;
                border-bottom: 1px solid #E2E2E2;
                border-radius: 8px 8px 0 0;
                padding: 4px 12px;
                width: 100%;
                text-align: center;
                line-height: 21px;
            }

            .terminal-body {
                background: #252525;
                padding: 32px;
                border-radius: 0 0 8px 8px;

                span {
                    font-family: 'Menlo', 'Monaco', 'Consolas','Courier New',monospace;
                    line-height: 1.8rem;
                    font-size: 1.5rem;
                    display: block;

                    &.command {
                        display: inline;
                    }

                    &.u {
                        color: #00bc06;
                    }
                    &.s {
                        color: #bfb405;
                    }
                    &.n {
                        color: #bdbdbd;
                    }
                    &.c {
                        color: #be00bd;
                    }

                    @media (max-width: 630px) {
                        font-size: 1.2rem;
                    }
                }
            }

            @media(max-width: 991px) {
                width: 100%;

                .terminal-body {
                    padding: 16px;
                }
            }
        }
    }

    .zop-explanation {
        padding: 64px 0;
        background: #FAFAFA;

        h2 {
            font-family: 'GT Walsheim', sans-serif;
            color: #444;
            font-size: 3rem;
            margin-bottom: 64px;
            letter-spacing: -0.4px;
        }
        
        h3 {
            font-family: 'GT Walsheim', sans-serif;
            color: #444;
            font-size: 2.5rem;
        }

        .blue-yellow-separator {
            margin-bottom: 32px;;
        }

        .reference {
            list-style-image: url('assets/img/bullet-list.png');
        }

        .explanation-box {
            background: #FFF;
            border: 1px solid #CCC;
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
            padding: 24px;
            border-radius: 6px 6px 0 0;
            margin-bottom: 0;

            p {
                font-size: 2rem;
            }

            .text-muted {
                font-style: italic;
                color: #888;
                font-size: 1.6rem;
            }

            .explanation {            
                font-family: 'GT Walsheim', sans-serif;
                font-style: italic;
                color: #4b545e;
                font-size: 1.6rem;

                
                figure.highlight {
                    margin: 12px 0;

                    pre {
                        padding: 6px 12px;
                    }
                }                
            }
        }
    }
}

// DISQUS
// ================================================================

#comment-box {
    width: 95%;
    padding: 64px 0;
}