body#post-body {
    @media (max-width: 767px) {
        padding-bottom: 75px;
    }
}

// BLOG POST STYLE
// =============================================

.main-container  {

    .post-banner {
        
        .post-banner-wrapper {
            height: 500px;
            display: table;
            width: 100%;

            .post-banner-content {
                background: #CCC url('/assets/svg/stars-bground.svg');
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                padding: 70px 12px;

                .featured-icon-wrapper {
                    display: inline-block;
                    background: #FFF;
                    line-height: 0;
                    padding: 58px 12px;
                    border-radius: 50%;
                    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
                    margin-bottom: 3rem;
                    height: 280px;
                    width: 280px;
                }

                .blog-post-title {
                    font-family: 'Roboto Condensed', sans-serif;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 5rem;
                    color: #FFF;
                    margin: 0;

                    @media (max-width: 767px) {
                        font-size: 3.5rem;
                    }
                }                

            }
        }
    }    

    .post-container {
        padding-top: 64px;

        .blog-post-content {
            display: block;
            max-width: 810px;
            font-weight: 400;
            margin-right: auto;
            margin-left: auto;

            #markdown-toc {
                list-style: none;
                margin-top: 0;
                margin-bottom: 10px;
                padding-left: 78px;
                list-style-image: url('/assets/img/list-style-l1.png');
                
                li {
                    padding-right: 5px
                }
                
                ul {
                    margin-top: 0;
                    margin-bottom: 0!important;
                    padding-left: 40px;
                    list-style-image: url('/assets/img/list-style-l2.png')
                }
                
                a {
                    font-size: 16px
                }
            }
            
            p:not(.greeting), ul, ol, table:not(.rouge-table) {
                font-family: 'Droid Serif', sans-serif;
                font-size: 1.7rem;
                line-height: 1.6;
                margin-bottom: 1.6rem;
                font-weight: 400;

                @media (max-width: 767px) {
                    font-size: 1.55rem;
                    line-height: 1.9;
                    margin-bottom: 1.7rem;
                }
            }

            blockquote {
                margin-left: 40px;
                font-style: italic;
                color: #444;
                padding: 0 30px 0 20px !important;

                p {
                    padding: 0 !important;
                }
            }

            p, h1, h2, h3, h4, h5, ul, ol, blockquote, table:not(.rouge-table) {
                padding: 0 30px;
                color: #3e464f;
            }  
            
            h1, h2, h3, h4, h5 {
                font-family: 'Roboto Condensed', sans-serif;
                font-weight: 600;
                color: #3e464f;
                line-height: 1.8;
            }

            ul, ol {
                list-style-image: url('/assets/img/post-list-style.png');
                margin-top: -.55em;
                padding-left: 75px;
                
                &.nav {
                    padding-left: 30px;
                }
            }

            ol {
                margin-top: -.55em;
                padding-left: 75px;
            }

            .blue-yellow-separator {
                margin: 64px auto;
            }    
            
            table.post-table {
                overflow-x: auto;
                display: block;
                background-color: transparent;
                margin: 0 auto 30px auto;

                thead {
                    tr {
                        th {
                            vertical-align: bottom;
                            border-bottom: 2px solid #dee2e6;
                            padding: .75rem;
                            border-top: 1px solid #dee2e6;
                        }
                    }
                }

                tbody {
                    tr:nth-of-type(odd) {
                        background-color: rgba(0,0,0,.025);                        
                    }
                    td {
                        padding: .75rem;
                        vertical-align: top;
                        border-top: 1px solid #dee2e6;
                    }
                }
            }

            .python-course-banner {
                width: 1170px;      
                max-width: 1170px;          
                position: relative;
                left: -180px;

                @media (max-width: 1200px) {
                    padding: 0 30px;
                    width: 100%;
                    left: 0;
                }
            }

            .python-course-post-banner {
                width: 100%;
            }
        }

        .blog-post-footer {

            .blog-post-colophon {
                padding-bottom: 64px;

                .profile-img {
                    border-radius: 50%;
                    max-width: 152px;
                    margin: 8px 0;
                }
                
                h2 {
                    font-weight: 400;
                    font-size: 14px
                }
                
                .blog-post-meta {
                    margin: 7px 0;
                    
                    h2 {
                        margin-top: 0;
                        font-family: 'Roboto Condensed', sans-serif;
                        font-size: 1.8rem;
                    }

                    .short-description {
                        font-family: 'Quicksand', serif;
                        line-height: 2.4rem;
                    }

                    .author-media-label {
                        font-family: 'Roboto Condensed', sans-serif;
                        color: #777;
                        margin: 0;
                        font-size: 1.5rem;
                    }

                    ul {
                        list-style: none;
                        margin: 0;
                        padding-left: 30px;

                        li {
                            display: inline;

                            a {
                                font-size: 2rem;
                                color: #777;
                                padding: 0 30px 0 0;
                                transition: all .15s ease;
                                
                                &:hover {
                                    background-color: inherit;
                                    color: #333
                                }

                                @media (max-width: 767px) {
                                    font-size: 2.3rem;
                                    padding: 0 12px;
                                }
                            }
                        }
                    }

                    @media (max-width: 767px) {
                        text-align: center
                    }
                }
            }
        }
    }
}

.more-posts {
    background: #f4f4f4 url('/assets/svg/dark-bground-pattern.svg');
    padding: 64px 8px;
    text-align: center;

    h2 {
        font-size: 4rem;
        letter-spacing: -0.3px;
    }

    .button:hover {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }
}


.social-media-affix {
    @media(max-width: 600px) {
        &.affix {
            bottom:0;
            top: auto;
        }

        ul {
            top: 0;
            
            li {
                margin-bottom: 8px;
            }
        }    
    }

    @media(max-width: 767px) {
        &.affix {
            top: auto;
            bottom: 0;
            width: 100%;
            background: #FFF;
            border-top: 1px solid #DDD;
            z-index: 999;
            box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.1);
        }

        h2 {
            font-size: 1.25rem;
            padding: 10px;
        }

        ul {
            line-height: 0;
            top: auto;
            text-align: center;

            li {
                display: inline-block;
                text-align: center;
                width: 22.5%;
                margin: 0;

                a {
                    height: 100%;
                    width: 70%;
                    padding: 6px 0;
                    background: #EEE;
                    border-radius: 2px;
                    margin: 6px;
                    border: 1px solid #ddd;

                    i {
                        font-size: 2.75rem;
                        left: auto;
                        top: auto;
                        margin: 0;
                    }
                }
            }
        }
    }   
}