body#post-body {
    @media (max-width: 767px) {
        padding-bottom: 75px;
    }
}

.header {
    .navbar.navbar-default {
        position: absolute;
        width: 100%;
        background: rgba(18,19,19,0.45);
        mix-blend-mode: normal;
        -webkit-backdrop-filter: blur(6px);
        backdrop-filter: blur(2px);

        .nav {
            li {
                a {
                    color: #ffffffcc;
                }

                @media(max-width: 767px) {
                    border-bottom: 1px solid #88888822;
                }
            }
        }

        .navbar-collapse {
            @media(max-width: 767px) {
                border: 0;
            }
        }

        @media(max-width: 767px) {
            background: rgba(18,19,19,0.75);
            mix-blend-mode: normal;
            -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
            z-index: 999;
        }
    }
}

// BLOG POST STYLE
// =============================================

.main-container  {

    .post-banner {
        
        .post-banner-wrapper {
            height: 500px;
            display: table;
            width: 100%;

            .post-banner-content {
                background: linear-gradient(-35deg, #bd6910, #032244, #722eca);
                background-size: 400% 400%;
                -webkit-animation: sunset;
                animation: sunset;
                -webkit-animation-duration: 25s;
                animation-duration: 25s;
                -webkit-animation-iteration-count: infinite;   
                animation-iteration-count: infinite;

                @-webkit-keyframes sunset {
                    0%   { background-position: 0% 50% }
                    50%  { background-position: 100% 50% }
                    100% { background-position: 0% 50% }
                }
                
                @keyframes sunset {
                    0%   { background-position: 0% 50% }
                    50%  { background-position: 100% 50% }
                    100% { background-position: 0% 50% }
                }

                display: table-cell;
                vertical-align: middle;
                text-align: center;
                padding: 150px 12px 70px 12px;

                .featured-icon-wrapper {
                    display: inline-block;
                    background: #FFF;
                    line-height: 0;
                    padding: 58px 12px;
                    border-radius: 50%;
                    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
                    margin-bottom: 3rem;
                    height: 280px;
                    width: 280px;
                }

                .blog-post-title {
                    font-family: 'Montserrat', sans-serif;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 4rem;
                    color: #FFF;
                    margin: 0;

                    @media (max-width: 767px) {
                        font-size: 3.5rem;
                    }
                }                

            }
        }
    }    

    .post-container {
        padding-top: 64px;

        .blog-post-content {
            display: block;
            max-width: 810px;
            font-weight: 400;
            margin-right: auto;
            margin-left: auto;

            #markdown-toc {
                list-style: none;
                margin-top: 0;
                margin-bottom: 10px;
                padding-left: 78px;
                list-style-image: url('/assets/img/list-style-l1.png');
                
                li {
                    padding-right: 5px
                }
                
                ul {
                    margin-top: 0;
                    margin-bottom: 0!important;
                    padding-left: 40px;
                    list-style-image: url('/assets/img/list-style-l2.png')
                }
                
                a {
                    font-size: 16px
                }
            }
            
            p:not(.greeting), ul, ol, table:not(.rouge-table) {
                font-family: 'Droid Serif', sans-serif;
                font-size: 1.7rem;
                line-height: 1.6;
                margin-bottom: 1.6rem;
                font-weight: 400;

                @media (max-width: 767px) {
                    font-size: 1.55rem;
                    line-height: 1.9;
                    margin-bottom: 1.7rem;
                }
            }

            blockquote {
                margin-left: 40px;
                font-style: italic;
                color: #444;
                padding: 0 30px 0 20px !important;

                p {
                    padding: 0 !important;
                }
            }

            p, h1, h2, h3, h4, h5, ul, ol, blockquote, table:not(.rouge-table) {
                padding: 0 30px;
                color: #3e464f;
            }  
            
            h1, h2, h3, h4, h5 {
                font-family: 'Roboto Condensed', sans-serif;
                font-weight: 600;
                color: #3e464f;
                line-height: 1.8;
            }

            ul, ol {
                list-style-image: url('/assets/img/post-list-style.png');
                margin-top: -.55em;
                padding-left: 75px;
                
                &.nav {
                    padding-left: 30px;
                }
            }

            ol {
                margin-top: -.55em;
                padding-left: 75px;
            }

            .blue-yellow-separator {
                margin: 64px auto;
            }    
            
            table.post-table {
                overflow-x: auto;
                display: block;
                background-color: transparent;
                margin: 0 auto 30px auto;

                thead {
                    tr {
                        th {
                            vertical-align: bottom;
                            border-bottom: 2px solid #dee2e6;
                            padding: .75rem;
                            border-top: 1px solid #dee2e6;
                        }
                    }
                }

                tbody {
                    tr:nth-of-type(odd) {
                        background-color: rgba(0,0,0,.025);                        
                    }
                    td {
                        padding: .75rem;
                        vertical-align: top;
                        border-top: 1px solid #dee2e6;
                    }
                }
            }

            .python-course-banner {
                width: 1170px;      
                max-width: 1170px;          
                position: relative;
                left: -180px;

                @media (max-width: 1200px) {
                    padding: 0 30px;
                    width: 100%;
                    left: 0;
                }
            }

            .python-course-post-banner {
                width: 100%;
            }
        }

        .blog-post-footer {

            .blog-post-colophon {
                padding-bottom: 64px;

                .profile-img {
                    border-radius: 50%;
                    max-width: 152px;
                    margin: 8px 0;
                }
                
                h2 {
                    font-weight: 400;
                    font-size: 14px
                }
                
                .blog-post-meta {
                    margin: 7px 0;
                    
                    h2 {
                        margin-top: 0;
                        font-family: 'Roboto Condensed', sans-serif;
                        font-size: 1.8rem;
                    }

                    .short-description {
                        font-family: 'Quicksand', serif;
                        line-height: 2.4rem;
                    }

                    .author-media-label {
                        font-family: 'Roboto Condensed', sans-serif;
                        color: #777;
                        margin: 0;
                        font-size: 1.5rem;
                    }

                    ul {
                        list-style: none;
                        margin: 0;
                        padding-left: 30px;

                        li {
                            display: inline;

                            a {
                                font-size: 2rem;
                                color: #777;
                                padding: 0 30px 0 0;
                                transition: all .15s ease;
                                
                                &:hover {
                                    background-color: inherit;
                                    color: #333
                                }

                                @media (max-width: 767px) {
                                    font-size: 2.3rem;
                                    padding: 0 12px;
                                }
                            }
                        }
                    }

                    @media (max-width: 767px) {
                        text-align: center
                    }
                }
            }
        }

        &.padding-top {
            padding-top: 148px;
        }

        @media(max-width: 767px) {
            &.padding-top {
                padding-top: 196px;
            }            
        }
    }
}

.more-posts {
    background: #f4f4f4 url('/assets/svg/dark-bground-pattern.svg');
    padding: 64px 8px;
    text-align: center;

    h2 {
        font-size: 4rem;
        letter-spacing: -0.3px;
    }

    .button:hover {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }
}


.social-media-affix {
    @media(max-width: 600px) {
        &.affix {
            bottom:0;
            top: auto;
        }

        ul {
            top: 0;
            
            li {
                margin-bottom: 8px;
            }
        }    
    }

    @media(max-width: 767px) {
        &.affix {
            top: auto;
            bottom: 0;
            width: 100%;
            background: #FFF;
            border-top: 1px solid #DDD;
            z-index: 999;
            box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.1);
        }

        h2 {
            font-size: 1.25rem;
            padding: 10px;
        }

        ul {
            line-height: 0;
            top: auto;
            text-align: center;

            li {
                display: inline-block;
                text-align: center;
                width: 22.5%;
                margin: 0;

                a {
                    height: 100%;
                    width: 70%;
                    padding: 6px 0;
                    background: #EEE;
                    border-radius: 2px;
                    margin: 6px;
                    border: 1px solid #ddd;

                    i {
                        font-size: 2.75rem;
                        left: auto;
                        top: auto;
                        margin: 0;
                    }
                }
            }
        }
    }   
}

// EBOOK
// ================================================================

.include-ebook-wrapper {
    width: 120%;
    margin: 32px auto;
    right: 10%;
    position: relative;
    border: 1px solid #FAFAFA;
    padding: 48px 32px;
    -webkit-box-shadow: 0 10px 29px #d3d9debb;
    box-shadow: 0 10px 29px #d3d9debb;

    h4 {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 3rem;
        color: #032518 !important;
        font-weight: 400;
        margin-bottom: 26px;
        line-height: 3rem !important;
    }

    h5 {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1.7rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #44b77e !important;
        font-weight: bold;
        margin-top: 0;
    }

    .ebook-cover {
        margin: 14px 0 !important;
    }

    .ebook-data {
        padding: 24px 0 !important;

        .ebook-title {
            font-size: 2.3rem !important;
            color: #555 !important;
            font-weight: 400 !important;
        }

        .ebook-description {
            padding-left: 50px !important;
            list-style: none !important;
            list-style-image: none !important;
            margin-bottom: 22px !important;

            li {
                font-family: 'Lato', sans-serif;
                font-size: 1.5rem;
                color: #333 !important;
            }
        }   
    } 
    
    .link-to-download {
        margin: 0 30px;
    }

    .cta {
        border: 0;
        background: #44B78B;
        border-radius: 8px;                    
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
        font-weight: bold;                                                
        color: #FFF;
        padding: 15px 18px;
        width: 100%;
        display: inline-block;
        text-align: center;    
        
        @media (max-width: 767px) {
            padding: 12px 30px;
        }
    }
    
    @media (max-width: 1150px) {
        padding: 24px 12px;
        width: 90%;
        right: 0;
    }
}

// JORNADA PYTHON AD
// ================================================================

.post-jornada-ad {
    overflow: hidden;
    border: 2px solid #f2be00;
    border-radius: 12px;
    width: 105%;
    position: relative;
    left: -2.5%;
    background: linear-gradient(-35deg, #bd6910, #032244, #722eca);
    background-size: 400% 400%;
    -webkit-animation: sunset;
    animation: sunset;
    -webkit-animation-duration: 15s;
    animation-duration: 15s;             
    -webkit-animation-iteration-count: infinite;   
    animation-iteration-count: infinite;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.35);

    @-webkit-keyframes sunset {
        0%   { background-position: 0% 50% }
        50%  { background-position: 100% 50% }
        100% { background-position: 0% 50% }
    }
    
    @keyframes sunset {
        0%   { background-position: 0% 50% }
        50%  { background-position: 100% 50% }
        100% { background-position: 0% 50% }
    }

    .dotted {
        padding: 1rem 3rem;
        display: block;
        border-radius: 10px;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.25);
        background-image: url("/assets/img/jornada-python/dots.png");

        object {
            margin-top: 32px;
        }

        span.headline-1 {
            display: block;
            font-family: 'Montserrat', sans-serif;
            font-weight: 100;
            color: #fff;
            font-size: 3.5rem;
            margin-bottom: 14px;
            margin-top: 31px;
            line-height: 44px;

            @media(max-width: 767px) {
                font-size: 2.3rem;
                margin-bottom: 14px;
                margin-top: 0;
                line-height: 30px;
            }
        }

        span.headline-2 {
            display: block;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.46rem;
            color: #eee;
            line-height: 20px;
        }

        .cta {        
            background: #00000077;
            border: 1px solid #ffffff1a;
            border-radius: 30px;
            margin: 28px 0px;
            padding: 0;
            // box-shadow: 0px 0px 6px #f2a90000;
            width: 100%;
            max-width: 420px;
            -webkit-animation: pulse;
            animation: pulse;
            -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;             
            -webkit-animation-iteration-count: infinite;   
            animation-iteration-count: infinite;
            transition: all 0.15s ease-in-out;
            
            &:hover {
                border-color: #FFF;
                box-shadow: 0px 4px 0px #1118;
                -webkit-animation: none;
                animation: none;
            }
    
            a {
                display: inline-block;
                font-family: 'Montserrat', sans-serif;
                text-transform: uppercase;
                font-size: 1.75rem;
                color: #bbb;
                font-weight: bold;         
                padding: 16px;
                width: 100%;
                transition: all 0.15s ease-in-out;

                img {
                    position: relative;
                    bottom: 2px;
                    width: 120px;
                    margin-left: 6px;
                }
    
                &:hover {
                    color: #FFF;
                }
            }
    
            @-webkit-keyframes pulse {
                0% { box-shadow: 0px 0px 6px #f2a90000 }
                50% { box-shadow: 0px 0px 6px #f2a90000 }
                70% { box-shadow: 0px 0px 28px #f2a900 }
                100% { box-shadow: 0px 0px 6px #f2a90000 }
            }
            
            @keyframes pulse {
                0% { box-shadow: 0px 0px 6px #f2a90000 }
                50% { box-shadow: 0px 0px 6px #f2a90000 }
                70% { box-shadow: 0px 0px 28px #f2a900 }
                100% { box-shadow: 0px 0px 6px #f2a90000 }
            }
        }
    }

    @media(max-width: 767px) {        
        width: 100%;
        left: unset;

        .dotted {
            padding: 1rem 2rem;
        }
    }
}