body#post-body {
  padding-bottom: 97px; }

.main-container .post-banner .post-banner-wrapper {
  height: 500px;
  display: table;
  width: 100%; }
  .main-container .post-banner .post-banner-wrapper .post-banner-content {
    background: #fc5c65 url("../svg/blog-bground-pattern.svg");
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 110px 0; }
    .main-container .post-banner .post-banner-wrapper .post-banner-content .featured-icon-wrapper {
      display: inline-block;
      background: #FFF;
      line-height: 0;
      padding: 36px;
      border-radius: 50%;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
      margin-bottom: 3rem; }
    .main-container .post-banner .post-banner-wrapper .post-banner-content .blog-post-title {
      font-family: 'Roboto Condensed', sans-serif;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 5rem;
      color: #FFF;
      margin: 0; }
.main-container .post-meta {
  position: relative;
  bottom: 35px;
  text-align: center; }
  .main-container .post-meta .post-meta-data {
    background: #fff;
    border-radius: 5px;
    padding: 16px;
    border: 1px solid #E7E7E7;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); }
    .main-container .post-meta .post-meta-data img {
      height: 30px; }
    .main-container .post-meta .post-meta-data span {
      font-family: 'GT Walsheim', sans-serif;
      color: #9ca6b5;
      font-size: 1.8rem;
      margin-bottom: 0;
      position: relative;
      left: 6px;
      top: 2px; }
  @media (max-width: 767px) {
    .main-container .post-meta {
      bottom: 25px; }
      .main-container .post-meta .post-meta-data {
        padding: 8px 4px; }
        .main-container .post-meta .post-meta-data img {
          height: 20px; } }
.main-container .post-container {
  padding-top: 64px; }
  .main-container .post-container .blog-post-content {
    display: block;
    max-width: 810px;
    font-weight: 400;
    margin-right: auto;
    margin-left: auto; }
    .main-container .post-container .blog-post-content #markdown-toc {
      list-style: none;
      margin-top: 0;
      margin-bottom: 10px;
      padding-left: 48px;
      list-style-image: url("../img/list-style-l1.png"); }
      .main-container .post-container .blog-post-content #markdown-toc li {
        padding-right: 5px; }
      .main-container .post-container .blog-post-content #markdown-toc ul {
        margin-top: 0;
        margin-bottom: 0 !important;
        padding-left: 40px;
        list-style-image: url("../img/list-style-l2.png"); }
      .main-container .post-container .blog-post-content #markdown-toc a {
        font-size: 16px; }
    .main-container .post-container .blog-post-content p:not(.greeting), .main-container .post-container .blog-post-content ul {
      font-family: 'GT Walsheim', sans-serif;
      font-size: 1.8rem;
      line-height: 1.8;
      margin-bottom: 1em;
      font-weight: 400; }
    .main-container .post-container .blog-post-content p, .main-container .post-container .blog-post-content h1, .main-container .post-container .blog-post-content h2, .main-container .post-container .blog-post-content h3, .main-container .post-container .blog-post-content h4, .main-container .post-container .blog-post-content h5, .main-container .post-container .blog-post-content ul, .main-container .post-container .blog-post-content ol, .main-container .post-container .blog-post-content blockquote {
      padding: 0 30px;
      color: #3e464f; }
    .main-container .post-container .blog-post-content h1, .main-container .post-container .blog-post-content h2, .main-container .post-container .blog-post-content h3, .main-container .post-container .blog-post-content h4, .main-container .post-container .blog-post-content h5 {
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 600;
      color: #3e464f; }
    .main-container .post-container .blog-post-content ul {
      list-style-image: url("../img/post-list-style.png");
      margin-top: -.55em;
      padding-left: 75px; }
      .main-container .post-container .blog-post-content ul.nav {
        padding-left: 30px; }
    .main-container .post-container .blog-post-content .blue-yellow-separator {
      margin: 64px auto; }
  .main-container .post-container .blog-post-footer .blog-post-colophon {
    padding-bottom: 64px; }
    .main-container .post-container .blog-post-footer .blog-post-colophon .profile-img {
      border-radius: 50%;
      max-width: 152px;
      margin: 8px 0; }
    .main-container .post-container .blog-post-footer .blog-post-colophon h2 {
      font-weight: 400;
      font-size: 14px; }
    .main-container .post-container .blog-post-footer .blog-post-colophon .blog-post-meta {
      margin: 7px 0; }
      .main-container .post-container .blog-post-footer .blog-post-colophon .blog-post-meta h2 {
        margin-top: 0;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1.8rem; }
      .main-container .post-container .blog-post-footer .blog-post-colophon .blog-post-meta .short-description {
        font-family: 'Quicksand', serif;
        line-height: 2.4rem; }
      .main-container .post-container .blog-post-footer .blog-post-colophon .blog-post-meta .author-media-label {
        font-family: 'Roboto Condensed', sans-serif;
        color: #777;
        margin: 0;
        font-size: 1.5rem; }
      .main-container .post-container .blog-post-footer .blog-post-colophon .blog-post-meta ul {
        list-style: none;
        margin: 0;
        padding-left: 30px; }
        .main-container .post-container .blog-post-footer .blog-post-colophon .blog-post-meta ul li {
          display: inline; }
          .main-container .post-container .blog-post-footer .blog-post-colophon .blog-post-meta ul li a {
            color: #777;
            padding: 0 30px 0 0;
            transition: all .15s ease; }
            .main-container .post-container .blog-post-footer .blog-post-colophon .blog-post-meta ul li a:hover {
              background-color: inherit;
              color: #333; }
            @media (max-width: 767px) {
              .main-container .post-container .blog-post-footer .blog-post-colophon .blog-post-meta ul li a {
                font-size: 2.3rem;
                padding: 0 16px; } }
      @media (max-width: 767px) {
        .main-container .post-container .blog-post-footer .blog-post-colophon .blog-post-meta {
          text-align: center; } }

.more-posts {
  background: #eef2f7 url("../svg/blog-bground-pattern.svg");
  padding: 64px;
  text-align: center; }
  .more-posts h2 {
    font-size: 4rem;
    letter-spacing: -0.3px; }
  .more-posts .button:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); }
