:root {
    --system-ui-font: system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@import "/assets/css/syntax-monokai-sublime.css";

html {
    font-size: 10px;
}

body#post-body {
    background: #111;
}

.hidden { display: none }
.text-center { text-align: center }

.header {
    .navbar.navbar-default {
        position: absolute;
        width: 100%;
        background: #00000055;
        mix-blend-mode: normal;
        -webkit-backdrop-filter: blur(6px);
        backdrop-filter: blur(2px);
        
        .nav {
            li {
                @media(max-width: 767px) {
                    border-bottom: 1px solid #88888822;
                }
            }
        }
        
        .navbar-collapse {
            @media(max-width: 767px) {
                border: 0;
            }
        }
        
        @media(max-width: 767px) {
            background: rgba(18,19,19,0.75);
            mix-blend-mode: normal;
            -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
            z-index: 999;
        }
    }

    .navbar-header {
        a.navbar-brand {
            padding: 10px 15px 10px 0;
            display: inline-block;
        }

        ul {
            list-style: none;
            float: right;
            margin: 0;
            padding: 0;

            li {
                a {
                    display: inline-block;
                    padding: 21px 20px;
                    font-family: var(--system-ui-font);
                    letter-spacing: 0.1px;
                    font-size: 13px;
                    text-transform: uppercase;
                    font-weight: 700;
                    color: #FFF;
                    position: relative;
                    bottom: 0;
                    transition: all 0.15s ease;

                    &:hover {
                        color: #ffcc00;
                    }
                }
            }
        }

        @media(max-width: 500px) {
            a.navbar-brand {
                
            }

            ul {
                li {
                    a {
                        padding: 21px 0;

                        span {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

// BLOG POST STYLE
// =============================================

.main-container  {
    .post-banner {
        .post-banner-wrapper {
            display: table;
            width: 100%;
            
            .post-banner-content {
                background: linear-gradient(180deg, #040406, #0f0e15);
                text-align: center;
                padding: 150px 12px 30px 12px;
                
                .featured-icon-wrapper {
                    display: inline-block;
                    background: #FFF;
                    line-height: 0;
                    padding: 58px 12px;
                    border-radius: 50%;
                    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
                    margin-bottom: 3rem;
                    height: 280px;
                    width: 280px;
                }
                
                .blog-post-title {
                    font-family: var(--system-ui-font);
                    text-transform: uppercase;
                    font-weight: 600;
                    width: 80%;
                    font-size: 3.5rem;
                    color: #FFF;
                    margin: 48px auto;
                    line-height: 4.75rem;
                    
                    @media(max-width: 450px) {
                        margin: 0 auto 28px auto;
                    }

                    @media(max-width: 767px) {
                        font-size: 2.5rem;
                        line-height: 3.5rem;
                    }
                }   
                
                .post-metadata {
                    .author {
                        img {
                            border-radius: 50%;
                            border: 2px solid #3d5291;
                        }
                        
                        p {
                            display: inline-block;
                            font-family: var(--system-ui-font);
                            font-weight: 400;
                            color: #FFF;
                            font-size: 1.65rem;
                            
                            span {
                                color: #ffcc37;
                            }
                            
                            time {
                                color: #ffffff88;
                            }
                        }
                    }
                }
                
                @media(max-width: 768px) {
                    padding: 110px 12px 20px 12px;
                }
                
            }
        }
    }    

    section.jornada-banner {
        background-color: #000000;

        .content {
            width: 100%;
            max-width: 900px;
            margin: 0 auto;
            padding: 30px 0;

            .inner-content {
                display: flex;
                gap: 30px;
                align-items: center;

                div.image {
                    display: flex;
                    img {
                        max-width: 340px;
                        border-radius: 12px;
                    }
                }

                div.text {
                    display: flex;
                    flex-direction: column;                    

                    h2 {
                        margin-top: 0;
                        color: #FFF;
                        font-size: 2.35rem;
                        line-height: 2.75rem;
                    }

                    p {
                        color: #ddd;
                        margin-bottom: 16px;
                        margin-top: 0;
                        font-size: 1.6rem;
                    }

                    a {
                        display: inline-block;
                        margin-bottom: 0;
                        line-height: 1.5;
                        color: #3a382f;
                        text-align: center;
                        text-decoration: none;
                        vertical-align: middle;
                        cursor: pointer;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        user-select: none;
                        background-color: transparent;
                        border: 1px solid transparent;
                        border-radius: 0.25rem;
                        background: #ffcc00;
                        text-transform: uppercase;
                        font-weight: 800;
                        padding: 12px 32px;
                        font-size: 1.75rem;
                        transition: all 0.4s ease;

                        .visible-lg { display: inline-block }
                        .visible-xs { display: none }

                        &:hover {
                            background: #1489f1;
                            color: white;
                            outline: 6px solid #80b5e933;
                            border: 1px solid #ffffff55;
                        }
                    }
                }
            }

            .features {
                display: flex;
                gap: 25px;
                margin-top: 50px;

                .feature {
                    display: flex;
                    flex-direction: row;
                    flex: 0.3333;
                    gap: 14px;
                    align-items: center;
                    border-radius: 8px;

                    div.icon {
                        img {
                            opacity: 0.85;
                        }
                    }

                    div.text {
                        h3 {
                            font-size: 1.45rem;
                            line-height: 1.95rem;
                            font-weight: 400;
                            color: #ccc;
                            margin: 0;
                        }
                    }
                }
            }

            @media(max-width: 700px) {
                .inner-content {
                    display: block;

                    div.text {
                        a {
                            .visible-lg { display: none }
                            .visible-xs { display: inline-block }
                        }
                    }

                    div.image {
                        text-align: center;
                        img {
                            width: 100%;
                            margin: 0 auto 14px auto;
                        }
                    }
                }

                .features {
                    display: block;
    
                    .feature {
                        margin-bottom: 18px;
                    }
                }
            }

            @media(max-width: 450px) {
                .inner-content {
                    display: block;

                    div.image {
                        img {
                            display: none;
                        }
                    }
                }
            }
        }        
    }
    
    .post-container {        
        display: flex;
        
        .blog-post-content {
            max-width: 900px;
            padding-top: 64px;
            font-weight: 400;
            margin-right: auto;
            margin-left: auto;
            
            b, strong {
                font-weight: 600 !important;
            }
            
            a:not(.call-to-action) {
                color: #3c82bf;
                border-bottom: 1px dashed;
                text-decoration: none;
                transition: all 0.15s ease;
                
                &:hover {
                    color: #4c97d7;
                }
            }

            a.in-post-banner-cta {
                border-bottom: 0;
            }
            
            h2#vá-direto-ao-assunto {
                font-family: var(--system-ui-font);
                font-size: 2rem;
                background: #484848;
                margin: 15px 30px 0 30px;
                border-radius: 10px 10px 0 0;
                padding: 8px 20px;
                
                @media(max-width: 768px) {
                    margin: 15px 10px 0 10px;
                    font-size: 2rem;
                    padding: 12px 22px;
                }
            }
            
            ul#markdown-toc {
                background: #1e1e1e;
                border-radius: 0 0 8px 8px;
                padding: 20px;
                list-style: none;
                margin: 0 30px 10px 30px;
                padding-left: 55px;
                list-style-image: url("/assets/img/jornada-python/check-verde.webp");
                
                ul {
                    margin-top: 0;
                    margin-bottom: 0!important;
                    padding-left: 40px;
                    list-style-image: url('/assets/img/list-style-l2.png');
                }
                
                li {
                    padding-right: 5px;
                    margin-bottom: 6px;
                    font-size: 1.75rem;
                    
                    a {
                        color: #ffffffaa;
                        border-bottom: unset;
                    }
                }
                
                @media(max-width: 768px) {
                    margin: 0 10px 10px 10px;
                    padding-left: 55px;
                    padding-bottom: 20px;
                    ul {
                        li {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .suggestions {
                background: #101010;
                padding: 20px;
                list-style: none;
                margin: 0 30px 10px 30px;
                border-radius: 8px;
                border: 1px solid #151515;

                h2 {
                    margin: 0;
                    padding: 0;
                    line-height: 21px;
                    font-size: 1.85rem;
                    font-weight: 400;
                    margin-bottom: 12px;
                }

                ul {
                    padding-left: 32px;
                    li {
                        a {
                            font-size: 1.65rem;

                        }
                    }
                }

                @media(max-width: 768px) {
                    margin: 0 10px;
                }
            }
            
            p:not(.greeting), ul, li, ol, table:not(.rouge-table) {
                font-family: var(--system-ui-font);
                font-size: 1.8rem;
                line-height: 1.5;
                margin-bottom: 1.3rem;
                font-weight: 400;
                margin-top: 0;
                
                @media (max-width: 767px) {
                    font-size: 1.7rem;
                    line-height: 1.5;
                    margin-bottom: 1.7rem;                    
                }
            }
            
            blockquote {
                margin: 30px;
                font-style: italic;
                color: #ffffffdd;
                background: #ffffff07;
                border-left: 4px solid #fff;
                padding: 15px 30px 15px 20px !important;
                
                p {
                    padding: 0 !important;
                    margin: 0 !important;

                    img {
                        position: relative;
                        top: 3px;
                    }
                }
            }
            
            p, h1, h2, h3, h4, h5, ul, ol, blockquote, table:not(.rouge-table) {
                padding: 0 30px;
                color: #ffffff;
                
                code {
                    font-family: 'Courier New', monospace;
                    font-size: 85%;
                    color: #ffffff88;
                    padding: 3px 4px 2px 4px;
                    background-color: #ffffff07;
                    border: 1px solid #ffffff08;
                }
                
                @media (max-width: 767px) {
                    padding: 0 10px;
                }                
            }  
            
            h1, h2, h3, h4, h5 {
                font-family: 'Roboto', sans-serif;
                font-weight: 600;
                color: #FFF;
                line-height: 1.6;
            }
            
            h2 {
                font-size: 2.75rem;
                margin: 3rem 0 4.5rem 0;
            }

            h3 {
                font-size: 2.25rem;
            }
            
            ul, ol {
                list-style-image: url('/assets/img/post-list-style.png');
                padding-left: 65px;

                li {
                    & > p {
                        padding-left: 15px;
                    }
                }
                
                &.nav {
                    padding-left: 30px;
                }
                
                @media(max-width: 767px) {
                    padding-left: 50px;
                }
            }
            
            .blue-yellow-separator {
                margin: 64px auto;
            }    
            
            table.post-table {
                background-color: transparent;
                margin: 0 auto 30px auto;
                width: 100%;
                max-width: 876px;
                
                thead {
                    tr {
                        th {
                            vertical-align: bottom;
                            border-bottom: 3px solid #fff4;
                            padding: .75rem;
                            border-top: 3px solid #fff4;
                        }
                    }
                }
                
                tbody {
                    tr:nth-of-type(odd) {
                        background-color: rgba(0,0,0,.025);                        
                    }
                    td {
                        padding: .75rem;
                        vertical-align: top;
                        border-top: 1px solid #fff2;
                    }
                }
            }            
            
            .python-course-banner {
                width: 1170px;      
                max-width: 1170px;          
                position: relative;
                left: -180px;
                
                @media (max-width: 1200px) {
                    padding: 0 30px;
                    width: 100%;
                    left: 0;
                }
            }
            
            .python-course-post-banner {
                width: 100%;
            }
            
            .django-intro-video {
                ul {
                    list-style-image: url("/assets/img/jornada-python/check-verde.webp");
                    
                    li {
                        margin-bottom: 0.45rem;
                    }
                }
                
                .cta-jp {
                    margin: 10px 0;
                    padding: 0px;
                    text-align: center;
                    transition: all 0.15s ease;
                    background-size: 200% auto;
                    border-radius: 8px;
                    border: 0;
                    width: 100%;
                    max-width: 550px;
                    background: #44B78B;
                    box-shadow: 0 0 12px #44B78B;
                    -webkit-animation: django-pulse;
                    animation: django-pulse;
                    -webkit-animation-duration: 2.5s;
                    animation-duration: 2.5s;
                    -webkit-animation-iteration-count: infinite;
                    animation-iteration-count: infinite;
                    border: 2px solid transparent;
                    
                    a {
                        font-family: 'Roboto', sans-serif;
                        border-bottom: 0;
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: 2.4rem;
                        text-decoration: none;
                        transition: all 0.15s ease;
                        color: #FFF;
                        line-height: 25px;
                        display: inline-block;
                        width: 100%;
                        padding: 16px 12px;
                        
                        &:hover {
                            color: #FFF;
                        }
                    }
                    
                    @keyframes django-pulse {
                        0%   { box-shadow: 0px 0px 6px #44B78B00 }
                        40%  { box-shadow: 0px 0px 6px #44B78B00 }
                        60%  { box-shadow: 0px 0px 28px #44B78B }
                        70%  { box-shadow: 0px 0px 6px #44B78B00 }
                        80%  { box-shadow: 0px 0px 28px #44B78B }
                        100% { box-shadow: 0px 0px 6px #44B78B00 }
                    }
                    
                    &:hover {
                        background-position: right center;
                        text-decoration: none;
                        box-shadow: 0px 4px 0px #1118;
                        -webkit-animation: none;
                        animation: none;
                        border-color: #fff;
                        background: #359973;
                    }
                }
                
                #iframe-container {
                    padding: 0 30px;             
                    margin-bottom: 30px;   
                    
                    @media(max-width: 768px) {
                        padding: 0;
                    }
                }   
                
                button.iframe-loader-btn {
                    background: url("/assets/img/django-intro-thumbnail.webp") center no-repeat;
                    background-size: 100%;
                    border: 1px solid #ffffff22;
                    border-radius: 8px;
                    box-shadow: 0 0px 25px #31cf8f2a;
                    width: 100%;
                    padding-bottom: calc(9 / 16 * 100%);
                    position: relative;
                    transition: all 0.15s ease-out;
                    
                    &:hover {
                        background-size: 103%;
                        box-shadow: 0 0px 32px #31cf8f4a;
                        border-color: #31cf9ad5;
                    }
                }
                
                .iframe-wrapper {
                    padding-bottom: calc(9 / 16 * 100%);
                    position: relative;
                    
                    iframe {
                        border: 1px solid #ffffff22;
                        border-radius: 8px;
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        background: #0a090f;
                    }
                } 
            }            
        }


        // IN POST 30 DAYS OF PYTHON
        // ================================================================

        .sib-form {
            position: relative;
            
            .sib-form-message-panel {
                margin: 30px;
                padding: 0.4375rem;
                border: 1px solid;
                font-size: 16px;
                text-align: left;                
                border-radius: 3px;    
                display: none;            
            }

            #error-message {
                color: #661d1d;
                background-color: #ffeded;
                border-color: #ff4949;
            }

            #success-message {
                color: #085229;
                background-color: #e7faf0;
                border-color: #13ce66;   
            }

            #sib-container {
                background-color: #ffffff07; 
                border-radius: 8px; 
                border-width: 0px; 
                margin: 80px 30px 30px 30px;
                display: flex;
                padding: 0;
                align-items: center;
                overflow: hidden;
                border: 1px solid #FFFFFF0A;

                .sib-image {
                    flex: 0.55;
                    border-right: 1px solid #ffffff0a;

                    img {
                        position: relative;
                        right: -14px;
                        width: 100%;
                        transform: scale(1.07);
                    }
                }

                .sib-form {
                    flex: 0.45;
                    padding: 30px 30px 30px 60px;
                    margin: 0;

                    form {
                        .sib-form-block {
                            padding: 0;
                            word-wrap: break-word;
                            outline: none;
                            margin-bottom: 12px;

                            img.logo {
                                width: 100%;
                                max-width: 380px;
                            }

                            .sib-text-form-block {
                                p {
                                    padding: 0;
                                    font-size: 1.6rem;
                                    font-weight: 300;
                                }
                            }

                            label.entry__label {
                                color: #999;
                                font-weight: bold;
                                text-transform: uppercase;
                                font-size: 1.15rem;
                                display: inline-block;
                                margin-bottom: 4px;
                                letter-spacing: 1px;
                            }

                            .entry__field {
                                background: none;
                                border: none;
                                margin: 0;

                                input {
                                    background: #00000033;
                                    width: 100%;
                                    border: 1px solid #ffffff0a;
                                    padding: 12px 16px;
                                    font-size: 1.25rem;
                                    color: #bbb;
                                    font-family: var(--system-ui-font);
                                    transition: all 0.15s ease;
                                }
                            }

                            .call-to-action {
                                width: 100%;
                                font-size: 1.75rem;
                                padding: 12px;
                            }
                        }

                        .input--hidden {
                            display: none;
                        }

                        .sib-captcha {
                            overflow: hidden;
                        }
                    }
                }
            }

            .circle {
                position: absolute;
                width: 150px;
                height: 150px;
                border-radius: 50%;
                filter: blur(80px);
                -webkit-filter: blur(80px);
                z-index: -1;
                opacity: 0.5;                

                &.yellow { 
                    background: #ffcc00;
                    left: 0;
                    top: 44px;                    
                }

                &.blue { 
                    background: #3d9aeb;
                    right: 0;
                    bottom: -150px;

                    -webkit-animation: bubble;
                    animation: bubble;
                    -webkit-animation-duration: 4.5s;
                    animation-duration: 4.5s;
                    -webkit-animation-iteration-count: infinite;   
                    animation-iteration-count: infinite;
                    
                    @-webkit-keyframes bubble {
                        0%   { bottom: -50px; filter: blur(70px); opacity: 0.65; }
                        50%  { bottom: 0; bottom: 0; filter: blur(80px); opacity: 0.5; }
                        100% { bottom: -50px; filter: blur(70px); opacity: 0.65; }
                    }
                    
                    @keyframes bubble {
                        0%   { bottom: -50px; filter: blur(70px); opacity: 0.65; }
                        50%  { bottom: 0; bottom: 0; filter: blur(80px); opacity: 0.5; }
                        100% { bottom: -50px; filter: blur(70px); opacity: 0.65; }
                    }
                 }
            }

            @media(max-width: 992px) {
                #sib-container {
                    display: block;
    
                    .sib-image {
                        display: none;
                    }
    
                    .sib-form {
                        flex: auto;
                        padding: 36px;
                    }
                }
            }

            @media(max-width: 768px) {
                #sib-container {
                    margin: 80px 0px 30px 0px;
                }
            }

            @media(max-width: 500px) {
                #sib-container {
                    .sib-image {
                        display: initial;
                    }

                    .sib-form {
                        padding: 40px 20px 20px 20px;
                    }
                }
            }
        }

        .in-post-30-days-of-python {
            padding: 0;
            margin: 80px 30px 30px 30px;
            position: relative;
            background: #ffffff07;
            border: 1px solid #ffffff0a;
            border-radius: 8px;

            .circle {
                position: absolute;
                width: 150px;
                height: 150px;
                border-radius: 50%;
                filter: blur(80px);
                -webkit-filter: blur(80px);
                z-index: -1;
                opacity: 0.5;                

                &.yellow { 
                    background: #ffcc00;
                    left: 0;
                    top: -55px;                    
                }

                &.blue { 
                    background: #3d9aeb;
                    right: 0;
                    bottom: 0;

                    -webkit-animation: bubble;
                    animation: bubble;
                    -webkit-animation-duration: 4.5s;
                    animation-duration: 4.5s;
                    -webkit-animation-iteration-count: infinite;   
                    animation-iteration-count: infinite;
                    
                    @-webkit-keyframes bubble {
                        0%   { bottom: -50px; filter: blur(70px); opacity: 0.65; }
                        50%  { bottom: 0; bottom: 0; filter: blur(80px); opacity: 0.5; }
                        100% { bottom: -50px; filter: blur(70px); opacity: 0.65; }
                    }
                    
                    @keyframes bubble {
                        0%   { bottom: -50px; filter: blur(70px); opacity: 0.65; }
                        50%  { bottom: 0; bottom: 0; filter: blur(80px); opacity: 0.5; }
                        100% { bottom: -50px; filter: blur(70px); opacity: 0.65; }
                    }
                 }
            }

            .inner {
                padding: 26px 22px 22px 333px;

                img.logo {
                    max-width: 400px;
                    width: 100%;
                    margin-bottom: 14px;
                }
            
                img.inbox {
                    position: absolute;
                    left: -40px;
                    bottom: 0;
                }    
                
                p {
                    padding: 0;
                    font-size: 1.6rem;
                    font-weight: 300;
                }

                .form-inputs {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .input-group {
                        label {
                            color: #999;
                            font-weight: bold;
                            text-transform: uppercase;
                            font-size: 1.15rem;
                            display: inline-block;
                            margin-bottom: 4px;
                            letter-spacing: 1px;
                        }

                        input {
                            background: #00000033;
                            width: 94%;
                            border: 1px solid #3634548f;
                            border-radius: 10px;
                            padding: 12px 16px;
                            font-size: 1.25rem;
                            color: #bbb;
                            font-family: var(--system-ui-font);
                            transition: all 0.15s ease;

                            &:hover, 
                            &:focus,
                            &:focus-visible, 
                            &:focus-within {
                                border-color: #5993ef;
                                outline: 4px solid #5993ef0a;
                            }
                        }

                        button {
                            font-size: 1.35rem;
                            padding: 10px;
                            border-radius: 6px;
                            margin-top: 23px;
                            width: 100%;
                            text-transform: uppercase;                            
                        }

                        &.input { width: 37% }
                        &.submit-button { width: 26% }
                    }
                }

                .recaptcha {
                    padding-top: 12px;
                    width: 100%;
                    overflow: hidden;
                }
            }    

            @media(max-width: 768px) {
                margin: 10px;

                .circle {
                    opacity: 0.35;
                }

                .inner {
                    padding: 32px;
                    img.inbox {
                        display: none;
                    }
                }
            }

            @media(max-width: 500px) {
                .inner {
                    padding: 32px 24px;
                    .form-inputs {
                        display: block;

                        .input-group {
                            width: 100%;

                            input { 
                                width: 100%;
                                margin-bottom: 12px;
                            }

                            &.input,
                            &.submit-button {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        
        .blog-post-footer {
            
            .blog-post-colophon {
                padding-bottom: 64px;
                text-align: center;
                
                .profile-img {
                    border-radius: 50%;
                    max-width: 152px;
                    margin: 8px 0;
                }
                
                h2 {
                    font-weight: 400;
                    font-size: 14px
                }
                
                .blog-post-meta {
                    margin: 7px 0;
                    
                    p {
                        margin-top: 0;
                        font-family: 'Roboto', sans-serif;
                        font-size: 1.6rem;
                    }
                    
                    .short-description {
                        font-family: 'Roboto', sans-serif;
                        line-height: 2.4rem;
                        font-size: 1.8rem;
                    }
                    
                    .author-media-label {
                        font-family: 'Roboto Condensed', sans-serif;
                        color: #8f8f8f;
                        margin: 0;
                        font-size: 1.5rem;
                        margin-bottom: 14px;
                    }
                    
                    .linkedin-anchor {
                        font-family: 'Roboto', sans-serif;
                        background: #1e7aad;
                        color: #FFF;
                        border: 0;
                        display: inline-block;
                        margin-top: 12px;
                        margin-bottom: 12px;
                        padding: 12px 24px;
                        border-radius: 5px;
                        font-size: 1.75rem;
                        transition: all 0.15s ease;
                        
                        img {
                            width: 16px;
                            position: relative;
                            top: 2px;
                            margin-right: 8px;
                        }

                        &:hover {
                            background: #055581;
                        }
                    }
                    
                    ul {
                        list-style: none;
                        margin: 0;
                        padding-left: 30px;
                        
                        li {
                            display: inline;
                            
                            a {
                                padding: 0 15px 0 15px;
                                border-bottom: 0;
                                
                                img {
                                    opacity: 0.4;
                                    width: 30px;
                                    transition: all 0.15s ease-in-out;
                                }
                                
                                &:hover {
                                    img {
                                        opacity: 0.8;
                                    }
                                }
                                
                                @media (max-width: 767px) {
                                    font-size: 2.3rem;
                                    padding: 0 12px;
                                }
                            }
                        }
                    }
                    
                    @media (max-width: 767px) {
                        text-align: center
                    }
                }
            }
        }
        
        &.padding-top {
            padding-top: 148px;
        }
        
        @media(max-width: 1200px) {
            display: block;
            
            .blog-post-content {
                min-width: 0;
            }
            
            .sticky-sidebar {
                display: none;
            }
        }
        
        @media(max-width: 767px) {
            &.padding-top {
                padding-top: 196px;
            }            
        }
    }
}

.more-posts {
    padding: 64px 8px;
    text-align: center;
    
    h2 {
        font-size: 4rem;
        letter-spacing: -0.3px;
        font-weight: 600;
    }

    #random_posts {
        display: flex;
        gap: 30px;

        article.card-article {
            display: inline-block;
            width: 100%;
            flex: 0.5;

            &.overlay {
                .card {
                    .card-frame {
                        min-height: 193px;
                    }
                }
            }
        }

        @media(max-width: 630px) {
            display: block;
        }
    }

    .suggested-posts {
        display: flex;
        gap: 30px;    
        margin-bottom: 32px;    

        .post-column {
            flex: 0.33;
            text-align: left;

            a {
                display: block;
                margin-bottom: 10px;
                line-height: 1.75;
                font-size: 1.75rem;
            }
        }

        @media(max-width: 650px) {
            display: block;

            .post-column {
                a {
                    margin-bottom: 6px;
                }
            }
        }
    }
    
    .button:hover {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }
}

// SOCIAL MEDIA AFFIX
// ================================================================

.social-media-affix {
    opacity: 0;
    transition: all .3s linear;
    
    h2 {
        font-family: 'Muli', sans-serif;
        color: #404a54;
        font-weight: 600;
        text-align: center;
        font-size: 1.5rem;
        padding: 16px 0 12px 0;
        background: #FAFAFA;
        margin: 0;
        border-bottom: 1px solid #EAEAEA;
    }
    
    &.affix {
        background: #1e1e1e;
        opacity: 1;
        transition: all .3s linear;
        bottom: 0;
        width: 100%;
        border-top: 1px solid #2a2a2a;
        border-bottom: 1px solid #2a2a2a;
    }
    
    span.share-label {
        background: transparent;
        float: left;
        font-size: 2.5rem;
        padding: 12px;
        margin: 0 .5rem;
        position: relative;
        color: #fffb;
        text-align: center;
        font-size: 1.75rem;
        font-family: 'Roboto', sans-serif;
        border-left: 1px solid #282828;
    }
    
    div.jp-cta {
        float: right;
        
        a {
            border-left: 1px solid #282828;
            border-right: 1px solid #282828;
            padding: 7px 24px 12px 24px;
            display: inline-block;
            margin: 0;
            color: #ffffffbb;
            font-size: 1.6rem;
            font-family: 'Roboto', sans-serif;
            transition: all 0.15s ease;
            
            img {
                margin-left: 8px;   
                position: relative;
                top: 7px;
            }
            
            &:hover {
                background: #00000044;
            }
        }
    }
    
    ul {
        list-style: none;
        display: flex;
        padding:0;
        margin: 0;
        position: relative;
        text-align: left;
        
        li {
            padding: 12px 8px 13px 8px;
            margin: 0 !important;
            line-height: 0;
            display: inline-block;
            text-align: center;
            border-left: 1px solid #282828;
            
            a {
                background: transparent;
                display: inline-block;
                font-size: 2.5rem;
                margin: 0 .5rem;
                position: relative;
                color: #5c6163;
                transition: all 0.15s ease;
                
                img {
                    width: 24px;
                    opacity: 0.4;
                    transition: all 0.15s ease;
                }
                
                &:hover {
                    color: #fff;
                    
                    img {
                        opacity: 0.8;
                    }
                }
            }    
            
            &:last-child {
                border-right: 1px solid #282828;
            }
        }
    }     
    
    
    @media(max-width: 723px) {
        div.jp-cta {
            float: none;
            
            a {
                border-left: none;
                border-right: none;
                text-align: center;
                width: 100%;
                padding: 16px 0;
            }
        }
        
        ul {
            li {
                display: none;
            }
        }
    }
    
    @media(max-width: 998px) {
        .share-label {
            display: none;
        }
    }
}

// EBOOK
// ================================================================

.main-container {
    .post-container {
        .blog-post-content {
            .include-ebook-wrapper {
                margin: 32px auto;
                background: #1a1a1a;
                border-radius: 8px;
                border: 1px solid #ffffff11;
                padding: 36px;
                -webkit-box-shadow: 0 10px 29px #d3d9debb;
                box-shadow: 0 10px 29px #000000;
                
                h4 {
                    font-family: var(--system-ui-font);
                    font-size: 3rem;
                    color: #FFF !important;
                    font-weight: 600;
                    margin-bottom: 26px;
                    line-height: 3rem !important;
                    margin-top: 0;
                }
                
                h5 {
                    font-family: var(--system-ui-font); 
                    font-size: 1.5rem;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    color: #44b77e !important;
                    font-weight: bold;
                    margin-top: 0;
                    margin-bottom: 12px;
                }

                .ebook {
                    display: flex;
                    align-items: center;
                    gap: 30px;

                    .cover {
                        text-align: center;

                        .ebook-cover {
                            margin: 14px 0 !important;
                            max-width: 300px;
                            width: 100%;
                        }
                    }

                    .info {
                        .ebook-title {
                            margin-top: 0;
                            font-size: 2.3rem !important;
                            color: #FFF !important;
                            font-weight: 400 !important;
                        }
                        
                        .ebook-description {
                            padding-left: 50px !important;
                            list-style: none !important;
                            list-style-image: none !important;
                            margin-bottom: 22px !important;
                            
                            li {
                                font-family: 'Roboto', sans-serif;
                                color: #ffffffe7 !important;
                                margin-bottom: 6px;
                            }
                        }   
                    } 

                    .call-to-action {
                        margin: 12px 30px;
                        text-align: center;
                        width: 60%;
                        
                        @media(max-width: 500px) {
                            margin: 12px 5%;
                            width: 90%;
                            text-align: center;
                        }
                    }

                    @media(max-width: 500px) {
                        display: block;
                    }
                }

                @media(max-width: 430px) {
                    padding: 26px 20px;

                    h4 {
                        font-size: 2rem;
                    }

                    h5 {
                        font-size: 1rem;
                    }

                    .ebook {
                        .info {
                            .ebook-description {
                                padding-left: 15px !important
                            }
                        }
                    }
                }
            }
        }
    }
}

// JORNADA PYTHON AD
// ================================================================

.post-jornada-ad {
    overflow: hidden;
    border: 2px solid #f2be00;
    border-radius: 12px;
    width: 105%;
    position: relative;
    left: -2.5%;
    background: linear-gradient(-35deg, #bd6910, #032244, #722eca);
    background-size: 400% 400%;
    -webkit-animation: sunset;
    animation: sunset;
    -webkit-animation-duration: 15s;
    animation-duration: 15s;             
    -webkit-animation-iteration-count: infinite;   
    animation-iteration-count: infinite;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.35);
    
    @-webkit-keyframes sunset {
        0%   { background-position: 0% 50% }
        50%  { background-position: 100% 50% }
        100% { background-position: 0% 50% }
    }
    
    @keyframes sunset {
        0%   { background-position: 0% 50% }
        50%  { background-position: 100% 50% }
        100% { background-position: 0% 50% }
    }
    
    .dotted {
        padding: 1rem 3rem;
        display: block;
        border-radius: 10px;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.25);
        background-image: url("/assets/img/jornada-python/dots.png");
        
        object {
            margin-top: 32px;
        }
        
        span.headline-1 {
            display: block;
            font-family: 'Montserrat', sans-serif;
            font-weight: 100;
            color: #fff;
            font-size: 3.5rem;
            margin-bottom: 14px;
            margin-top: 31px;
            line-height: 44px;
            
            @media(max-width: 767px) {
                font-size: 2.3rem;
                margin-bottom: 14px;
                margin-top: 0;
                line-height: 30px;
            }
        }
        
        span.headline-2 {
            display: block;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.46rem;
            color: #eee;
            line-height: 20px;
        }
        
        .cta {        
            background: #00000077;
            border: 1px solid #ffffff1a;
            border-radius: 30px;
            margin: 28px 0px;
            padding: 0;
            // box-shadow: 0px 0px 6px #f2a90000;
            width: 100%;
            max-width: 420px;
            -webkit-animation: pulse;
            animation: pulse;
            -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;             
            -webkit-animation-iteration-count: infinite;   
            animation-iteration-count: infinite;
            transition: all 0.15s ease-in-out;
            
            &:hover {
                border-color: #FFF;
                box-shadow: 0px 4px 0px #1118;
                -webkit-animation: none;
                animation: none;
            }
            
            a {
                display: inline-block;
                font-family: 'Montserrat', sans-serif;
                text-transform: uppercase;
                font-size: 1.75rem;
                color: #bbb;
                font-weight: bold;         
                padding: 16px;
                width: 100%;
                transition: all 0.15s ease-in-out;
                
                img {
                    position: relative;
                    bottom: 2px;
                    width: 120px;
                    margin-left: 6px;
                }
                
                &:hover {
                    color: #FFF;
                }
            }
            
            @-webkit-keyframes pulse {
                0% { box-shadow: 0px 0px 6px #f2a90000 }
                50% { box-shadow: 0px 0px 6px #f2a90000 }
                70% { box-shadow: 0px 0px 28px #f2a900 }
                100% { box-shadow: 0px 0px 6px #f2a90000 }
            }
            
            @keyframes pulse {
                0% { box-shadow: 0px 0px 6px #f2a90000 }
                50% { box-shadow: 0px 0px 6px #f2a90000 }
                70% { box-shadow: 0px 0px 28px #f2a900 }
                100% { box-shadow: 0px 0px 6px #f2a90000 }
            }
        }
    }
    
    @media(max-width: 767px) {        
        width: 100%;
        left: unset;
        
        .dotted {
            padding: 1rem 2rem;
        }
    }
}


.font-white  { color: #ffffff }
.font-yellow { color: #ffcc00 }
.font-blue   { color: #3d9aeb }
.font-green  { color: rgb(57, 224, 160)}

.popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: calc(100% - 40px);
    max-width: 420px;
    border-radius: 14px 14px 0 14px;
    background-color: white;
    box-shadow: 0 0 16px rgba(0,0,0,0.8);
    opacity: 0; 
    transition: opacity 0.5s ease-in-out;

    .popup-header {
        border-radius: 14px 14px 0 0;
        padding: 15px 20px;
        background: #3498db;
        
        p {
            margin: 0;
            font-size: 1.5rem;
            font-weight: bold;
            color: #eee;
            text-transform: uppercase;
        }

        .close-button {
            position: absolute;
            top: 10px;
            right: 20px;
            font-size: 1.45rem;
            padding: 6px 12px;
            background-color: #fff2;
            border-radius: 5px;
            color: #eee;
            font-weight: 500;
            border: none;
            cursor: pointer;
            transition: all 0.15s ease;

            &:hover {
                background-color: #0001;
            }
        }
    }

    .popup-body {
        padding: 20px;
        border-radius: 0px 0px 0px 14px;

        h4 {
            font-size: 1.85rem;
            margin-top: 0;
            margin-bottom: 1rem;
        }    

        p#popup-text {
            font-size: 1.6rem;
            line-height: 1.3;

            img {
                margin: 12px 0 8px 0;
                width: 100%;
            }
        }
    
        .popup-cta {
            border: 0;
            padding: 0;
            margin: 0;
            width: 100%;
            background: linear-gradient(225deg, #15a7ef, #085d87);
            padding: 3px;
            
            a {
                background-color: #272a2c;
                color: #FFF;
                font-weight: bold;
                display: inline-block;
                width: 100%;
                padding: 12px;
                font-size: 1.9rem;
                text-transform: uppercase;
                transition: all 0.15s ease;

                &:hover {
                    background: #101111;
                }
            } 

            @media(max-width: 500px) {
                a {
                    font-size: 1.45rem;
                }
            }
        }
    }    
}

/* Animação de fade-in */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Animação de fade-out */
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}