.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal p, .reveal a, .reveal ul, .reveal ol {
  color: #3e464f;
  font-size: 1.0rem; }
.reveal h1 {
  font-size: 2.1rem; }
.reveal h2 {
  font-size: 2.2rem;
  font-family: 'Open Sans';
  text-transform: initial;
  font-weight: 700;
  display: block;
  line-height: initial !important;
  letter-spacing: -1px;
  margin-bottom: 10px; }
.reveal h3 {
  font-size: 1.6rem; }
.reveal h4 {
  font-size: 1.4rem; }
.reveal h5 {
  font-size: 1.2rem; }
.reveal p {
  font-family: 'GT Walsheim', serif;
  font-size: 0.9rem; }
.reveal code {
  font-family: 'Source Code Pro', monospace;
  font-size: 0.9rem; }
.reveal a {
  color: #4c80c8; }
  .reveal a:hover {
    color: #2c60a8; }
.reveal ul, .reveal ol, .reveal li {
  font-family: 'GT Walsheim', serif;
  font-size: 0.9rem; }
.reveal ul {
  list-style-image: url("../img/slider-bullet-list.png"); }
.reveal li {
  margin-bottom: 4px; }
.reveal section img {
  margin: 0;
  background: rgba(255, 255, 255, 0);
  border: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0); }
.reveal section .slide {
  background: #FFF;
  border-radius: 10px;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
  border: 1px solid #DDD; }
  .reveal section .slide .slide-header {
    background: #F2F2F2;
    border-bottom: 1px solid #E2E2E2;
    border-radius: 8px 8px 0 0;
    padding: 2px 12px;
    width: 100%;
    text-align: center;
    line-height: 21px; }
    .reveal section .slide .slide-header * {
      position: relative;
      bottom: 2px; }
    .reveal section .slide .slide-header img {
      width: 13px; }
    .reveal section .slide .slide-header .slide-header-label {
      font-family: 'GT Walsheim', sans-serif;
      color: #3e464f;
      font-size: 0.8rem;
      margin: 0;
      bottom: 4px;
      letter-spacing: 0.5px; }
    .reveal section .slide .slide-header .menu-toggle {
      color: #555;
      text-transform: uppercase;
      font-size: 0.7rem;
      font-weight: bold;
      position: relative;
      bottom: 3px;
      padding: 4px 6px;
      background: #E7E7E7;
      border-radius: 5px;
      border: 1px solid #D7D7D7;
      transition: all 0.15s linear; }
      .reveal section .slide .slide-header .menu-toggle:hover {
        background: rgba(0, 0, 0, 0.09); }
      .reveal section .slide .slide-header .menu-toggle i {
        position: relative;
        top: 0;
        margin-right: 6px; }
  .reveal section .slide .slide-body {
    padding: 32px;
    width: 90%;
    margin: 0 auto;
    text-align: left; }
    .reveal section .slide .slide-body ul.share-links {
      padding: 0;
      margin: 0; }
      .reveal section .slide .slide-body ul.share-links li {
        display: inline-block; }
        .reveal section .slide .slide-body ul.share-links li a {
          font-family: 'Roboto Condensed', sans-serif;
          border-radius: 5px;
          padding: 8px 16px;
          margin: 0 6px;
          font-size: 15px;
          color: #FFF;
          border-bottom-width: 3px;
          border-bottom-style: solid; }
          .reveal section .slide .slide-body ul.share-links li a.facebook {
            background: #3b5998;
            border-bottom-color: #2b4988; }
          .reveal section .slide .slide-body ul.share-links li a.twitter {
            background: #00aced;
            border-bottom-color: #009cdd; }
          .reveal section .slide .slide-body ul.share-links li a.whatsapp {
            background: #25d366;
            border-bottom-color: #15b356; }
          .reveal section .slide .slide-body ul.share-links li a.gmail {
            background: #de5145;
            border-bottom-color: #ce4135; }
          .reveal section .slide .slide-body ul.share-links li a.linkedin {
            background: #007bb6;
            border-bottom-color: #006ba6; }
  .reveal section .slide .slide-footer {
    text-align: left;
    padding: 6px 16px;
    border-top: 1px solid #E2E2E2;
    background: #F2F2F2;
    border-radius: 0 0 8px 8px; }
    .reveal section .slide .slide-footer ul {
      margin: 0; }
      .reveal section .slide .slide-footer ul li {
        display: inline-block; }
    .reveal section .slide .slide-footer a {
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 0.8rem;
      display: block;
      color: #8e868f; }
      .reveal section .slide .slide-footer a i {
        margin-right: 6px; }
.reveal section.cover .slide-body {
  width: 100%; }
  .reveal section.cover .slide-body h1 {
    font-family: 'GT Walsheim', sans-serif;
    text-transform: initial;
    color: #3e464f;
    font-weight: 100;
    font-size: 3rem; }
  .reveal section.cover .slide-body h2 {
    font-family: 'GT Walsheim', sans-serif;
    font-size: 1rem;
    color: #4e565f;
    font-weight: 100;
    text-transform: initial;
    margin-bottom: 0;
    letter-spacing: initial; }
  .reveal section.cover .slide-body h3 {
    font-family: 'GT Walsheim', sans-serif;
    font-size: 0.8rem;
    color: #999;
    font-weight: 400;
    text-transform: initial;
    margin-bottom: 0; }
  .reveal section.cover .slide-body hr {
    margin-top: 30px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #CCC; }
.reveal section figure.highlight {
  margin-top: 10px;
  margin-bottom: 10px;
  margin: 10px 0 !important; }
  .reveal section figure.highlight td.code {
    padding: 4px; }
  .reveal section figure.highlight table {
    margin: unset; }
.reveal section ul {
  margin: 8px 0 8px 40px; }
  .reveal section ul.toc {
    list-style-image: url("../img/slider-bullet-item.png"); }
.reveal section .email-signup {
  -webkit-box-shadow: 0 0 0 #000;
  box-shadow: 0 0 0 #000;
  width: 100%;
  left: 0; }
  .reveal section .email-signup .signup-body {
    padding: 0;
    text-align: center; }
    .reveal section .email-signup .signup-body .input-group-btn {
      padding: 0;
      line-height: 0;
      vertical-align: top; }
.reveal .controls .controls-arrow:after,
.reveal .controls .controls-arrow:before {
  background-color: #F2F2F2;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); }

#menu-modal .modal-dialog {
  margin: 0;
  width: 20%;
  min-width: 290px; }
#menu-modal .modal-content {
  background: #EDEDED;
  border: 0;
  border-radius: 0;
  height: 100vh; }
  #menu-modal .modal-content .close-btn {
    border: 0;
    position: absolute;
    background: #EDEDED;
    right: -50px;
    width: 50px;
    height: 50px; }
    #menu-modal .modal-content .close-btn i {
      font-size: 1.5rem;
      color: #9eaaaf;
      transition: all 0.15s linear; }
      #menu-modal .modal-content .close-btn i:hover {
        color: #7c898e; }
  #menu-modal .modal-content .toc-label {
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 16px;
    color: #364952;
    font-weight: 500; }
  #menu-modal .modal-content ul.menu-toc {
    list-style: none;
    padding: 0;
    margin: 0; }
    #menu-modal .modal-content ul.menu-toc li {
      background: #FFF;
      border-radius: 6px;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
      margin-bottom: 8px;
      cursor: pointer;
      transition: all 0.15s linear;
      font-family: 'GT Walsheim', sans-serif;
      display: inline-block;
      color: #364952;
      padding: 14px;
      width: 100%; }
      #menu-modal .modal-content ul.menu-toc li:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); }
  #menu-modal .modal-content .menu-help-wrapper {
    position: fixed;
    padding: 15px;
    bottom: 0;
    width: 100%;
    left: 0; }
    #menu-modal .modal-content .menu-help-wrapper .menu-help {
      border-radius: 6px;
      background: #FFF;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15); }
      #menu-modal .modal-content .menu-help-wrapper .menu-help .menu-help-header {
        background: #f7f7f7;
        border-bottom: 1px solid #e2e2e2;
        border-radius: 6px 6px 0 0;
        padding: 8px; }
        #menu-modal .modal-content .menu-help-wrapper .menu-help .menu-help-header h2 {
          font-family: 'GT Walsheim', sans-serif;
          color: #364952;
          text-align: center;
          font-size: 1.4rem;
          margin: 0; }
      #menu-modal .modal-content .menu-help-wrapper .menu-help .menu-help-body {
        padding: 15px 0; }
        #menu-modal .modal-content .menu-help-wrapper .menu-help .menu-help-body table {
          width: 100%; }
          #menu-modal .modal-content .menu-help-wrapper .menu-help .menu-help-body table thead tr td {
            padding: 6px 2px; }
          #menu-modal .modal-content .menu-help-wrapper .menu-help .menu-help-body table tbody tr td {
            font-family: 'GT Walsheim', sans-serif;
            padding: 4px 12px; }
            #menu-modal .modal-content .menu-help-wrapper .menu-help .menu-help-body table tbody tr td:first-child img {
              width: 80%; }
