<!DOCTYPE html>
<html lang="pt-br">
	<head>		
				
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116930343-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-116930343-1');
</script>
			
			<!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '315628773120375');
    fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=315628773120375&ev=PageView&noscript=1"/></noscript>
<!-- End Facebook Pixel Code -->
		

		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">		

		<title></title>
		<link rel="icon" type="image/png" href="/assets/img/favicon.png">

		
		<!-- Robots -->
		<meta name="robots" content="index, follow">
		

		<!-- Canonical URL -->
		<link rel="canonical" href="https://pythonacademy.com.br/assets/css/syntax.css">	

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha512-6MXa8B6uaO18Hid6blRMetEIoPqHf7Ux1tnyIQdpt9qI5OACx7C+O3IVTr98vwGnlcg0LOLa02i9Y1HpVhlfiw==" crossorigin="anonymous" />

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w==" crossorigin="anonymous" />

		<link rel="stylesheet" href="/assets/css/master.css"/>

		<link rel="stylesheet" href="/assets/css/utilities.css"/>

		<link rel="stylesheet" href="/assets/css/syntax.css"/>		

		<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700|Montserrat:400,700|Droid+Serif:400,700,400italic,700italic|Raleway:100,200,300,400,500,600,700,800|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Merriweather:400,300,300italic,400italic,700,700italic,900,900italic|Space+Mono:400,700|Inconsolata:400,700|Muli:200,300,400,600,700|Quicksand:300,400,500,700|Source+Serif+Pro:400,700|Roboto+Condensed:300,400,700|Roboto:300,400,500,700|Ubuntu:300,400,500,700|Oswald:300,400,500,600" rel="stylesheet">

		
		
		
		
		
		
		
		
		
				
		
				
		<!-- General -->
		<meta name="description" content="Aprenda Python de verdade! Descubra como é fácil começar a usar uma das linguagens de programação mais simples do mercado! Com Python você vai poder automatizar tarefas do dia a dia, desenvolver para Web, aprender Data Science, conhecer Machine Learning e muito mais!">		
		<meta name="title" content="Python Academy | Aprenda Python de verdade! Descubra como é fácil começar a usar uma das linguagens de programação mais simples do mercado! Com Python você vai poder automatizar tarefas do dia a dia, desenvolver para Web, aprender Data Science, conhecer Machine Learning e muito mais!">
		<meta itemprop="image" content="https://pythonacademy.com.br/assets/img/og-image.png">

		<!-- Open Graph -->
		<meta property="fb:app_id" content="220280761884954">
		<meta property="og:site_name" content="Python Academy">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Python Academy | Aprenda Python de verdade! Descubra como é fácil começar a usar uma das linguagens de programação mais simples do mercado! Com Python você vai poder automatizar tarefas do dia a dia, desenvolver para Web, aprender Data Science, conhecer Machine Learning e muito mais!">
		<meta property="og:url" content="https://pythonacademy.com.br/assets/css/syntax.css">
		<meta property="og:description" content="Aprenda Python de verdade! Descubra como é fácil começar a usar uma das linguagens de programação mais simples do mercado! Com Python você vai poder automatizar tarefas do dia a dia, desenvolver para Web, aprender Data Science, conhecer Machine Learning e muito mais!">
		<meta property="og:image" itemprop="image" content="https://pythonacademy.com.br/assets/img/og-image.png" />
		<meta property="og:image:alt" content="Python Academy | Aprenda Python de verdade! Descubra como é fácil começar a usar uma das linguagens de programação mais simples do mercado! Com Python você vai poder automatizar tarefas do dia a dia, desenvolver para Web, aprender Data Science, conhecer Machine Learning e muito mais!" />
		<meta property="og:image:type" content="image/png" />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />

		<!-- Twitter cards -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@https://twitter.com/PythonAcademyBR">
		<meta name="twitter:title" content="Python Academy | Aprenda Python de verdade! Descubra como é fácil começar a usar uma das linguagens de programação mais simples do mercado! Com Python você vai poder automatizar tarefas do dia a dia, desenvolver para Web, aprender Data Science, conhecer Machine Learning e muito mais!">
		<meta name="twitter:description" content="Aprenda Python de verdade! Descubra como é fácil começar a usar uma das linguagens de programação mais simples do mercado! Com Python você vai poder automatizar tarefas do dia a dia, desenvolver para Web, aprender Data Science, conhecer Machine Learning e muito mais!">
		<meta name="twitter:image:src" content="https://pythonacademy.com.br/assets/img/twitter-card-image.png">
		
		
	</head>

	<body>

		


<header class="header">
	
	<nav class="navbar navbar-default">
		<div class="container">
	
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed "
					onclick="showMenu()"
					onblur="hideMenu()"
      				data-toggle="collapse"
					data-target="#main-menu"
					aria-expanded="true">
					<span class="sr-only">Habilitar navegação</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a class="navbar-brand" rel="home" href="https://pythonacademy.com.br">
					<img alt="Python Academy" src="/assets/img/logo.png" data-aos-easing="ease-out" data-aos="fade-in" data-aos-duration="550">
				</a>
			</div>

			<div id="main-menu" class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="https://pythonacademy.com.br" title="Volte à página inicial">
							Início
						</a>
					</li>
					
					<li>
						<a href="https://pythonacademy.com.br/blog" title="Aprenda com nossos artigos">
							Blog
						</a>
					</li>						
					
					<li>
						<a href="https://pythonacademy.com.br/sliders" title="Aprenda na prática">
							Sliders
						</a>
					</li>						

					<li>
						<a href="https://pythonacademy.com.br/sobre" title="Conheça-nos">
							Sobre
						</a>
					</li>						
				</ul>
			</div>
		</div>
	</nav>
</header>	

	    <div id="main-container">
	        figure {
    margin-bottom: 1em
}

figcaption {
    font-size: 16px;
    margin-top: 5px
}

figure.highlight {
    border-radius: 5px;
    padding: 0;
    margin: 0 30px 1em;
}

figure.highlight>pre {
    border: 1px solid #eee;
    padding: 0;
    margin: 0
}

figure.highlight td.gutter.gl {
    border-right: 1px solid #e8e8e8
}

figure.highlight td.code {
    padding: 10px 5px
}

.highlight table td {
    padding: 10px
}

pre {
    background-color: inherit;
    color: inherit;
    padding: 0 5px;
    border: 0
}

.highlight table td {
    padding: 5px
}

.highlight table pre {
    margin: 0
}

.highlight .cm {
    color: #998;
    font-style: italic
}

.highlight .cp {
    color: #999;
    font-weight: bold
}

.highlight .c1 {
    color: #998;
    font-style: italic
}

.highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic
}

.highlight .c,
.highlight .cd {
    color: #998;
    font-style: italic
}

.highlight .err {
    color: #a61717;
    background-color: #e3d2d2
}

.highlight .gd {
    color: #000;
    background-color: #fdd
}

.highlight .ge {
    color: #000;
    font-style: italic
}

.highlight .gr {
    color: #a00
}

.highlight .gh {
    color: #999
}

.highlight .gi {
    color: #000;
    background-color: #dfd
}

.highlight .go {
    color: #888
}

.highlight .gp {
    color: #555
}

.highlight .gs {
    font-weight: bold
}

.highlight .gu {
    color: #aaa
}

.highlight .gt {
    color: #a00
}

.highlight .kc {
    color: #000;
    font-weight: bold
}

.highlight .kd {
    color: #000;
    font-weight: bold
}

.highlight .kn {
    color: #000;
    font-weight: bold
}

.highlight .kp {
    color: #000;
    font-weight: bold
}

.highlight .kr {
    color: #000;
    font-weight: bold
}

.highlight .kt {
    color: #458;
    font-weight: bold
}

.highlight .k,
.highlight .kv {
    color: #000;
    font-weight: bold
}

.highlight .mf {
    color: #099
}

.highlight .mh {
    color: #099
}

.highlight .il {
    color: #099
}

.highlight .mi {
    color: #099
}

.highlight .mo {
    color: #099
}

.highlight .m,
.highlight .mb,
.highlight .mx {
    color: #099
}

.highlight .sb {
    color: #d14
}

.highlight .sc {
    color: #d14
}

.highlight .sd {
    color: #d14
}

.highlight .s2 {
    color: #d14
}

.highlight .se {
    color: #d14
}

.highlight .sh {
    color: #d14
}

.highlight .si {
    color: #d14
}

.highlight .sx {
    color: #d14
}

.highlight .sr {
    color: #009926
}

.highlight .s1 {
    color: #d14
}

.highlight .ss {
    color: #990073
}

.highlight .s {
    color: #d14
}

.highlight .na {
    color: #008080
}

.highlight .bp {
    color: #999
}

.highlight .nb {
    color: #0086b3
}

.highlight .nc {
    color: #458;
    font-weight: bold
}

.highlight .no {
    color: #008080
}

.highlight .nd {
    color: #3c5d5d;
    font-weight: bold
}

.highlight .ni {
    color: #800080
}

.highlight .ne {
    color: #900;
    font-weight: bold
}

.highlight .nf {
    color: #900;
    font-weight: bold
}

.highlight .nl {
    color: #900;
    font-weight: bold
}

.highlight .nn {
    color: #555
}

.highlight .nt {
    color: #000080
}

.highlight .vc {
    color: #008080
}

.highlight .vg {
    color: #008080
}

.highlight .vi {
    color: #008080
}

.highlight .nv {
    color: #008080
}

.highlight .ow {
    color: #000;
    font-weight: bold
}

.highlight .o {
    color: #000;
    font-weight: bold
}

.highlight .w {
    color: #bbb
}

.highlight {
    background-color: #f8f8f8
}

.terminal-output {
    color: #CCC
}

.terminal-output td.gutter.gl {
    display: none
}

figure.highlight.terminal-output td.code {
    padding: 0
}

.terminal-output td.code pre {
    padding: 0
}

.terminal-output pre {
    background: #1e2125;
    border-radius: 4px 4px 0 0;
    border: 0!important
}

.terminal-output pre code {
    padding: 15px;
    display: inline-block
}

.terminal-output::after {
    content: 'Resultado';
    text-align: left;
    max-width: 750px;
    padding: 5px 15px;
    font-size: 14px;
    background: #CCC;
    font-weight: bold;
    border-radius: 0 0 4px 4px;
    display: block;
    color: #777
}

.error {
    color: #dd1436!important
}

.error.terminal-output::after {
    content: 'Saída do Terminal com Erro'
}
	    </div>

		


<section id="footer-signup">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h2 class="bold">Aprenda Python de Verdade!</h2>
				<p class="mb-32">
					Cadastre o seu <span class="bold">melhor email</span> para receber gratuitamente conteúdos exclusivos e muito mais!
				</p>
			</div>
			
			<div class="col-xs-12 col-md-8 col-md-offset-2">
				<!-- Include MailChimp email form with input and submit button -->
<!-- Parameters: Eu quero! = button label  -->

<form action="https://pythonacademy.us12.list-manage.com/subscribe/post?u=d818a1dcab21e0bb6fbe4a39b&amp;id=11b4623db6" 
    method="post" id="mc-embedded-subscribe-form" 
    name="mc-embedded-subscribe-form" 
    class="validate" 
    target="_blank" 
    autocomplete="off"
    novalidate>
    <div id="mc_embed_signup_scroll" class="container-fluid">        
        <div class="row no-gutters">
            <div class="col-xs-3">
                <input id="mce-NAME" type="text" value="" name="NAME" class="signup-input name" placeholder="Nome" required>
            </div>
            
            <div class="col-xs-5">                
                <input id="mce-EMAIL" type="email" value="" name="EMAIL" class="signup-input email" placeholder="Email" required>                
            </div>

            <div class="col-xs-4">
                <button id="mc-embedded-subscribe" type="submit" name="subscribe" class="btn">
                    <!--<i class="fa fa-paper-plane-o fa-fw" aria-hidden="true"></i>-->
                    <!--<span>Enviar</span>-->
                    <i class="fa fa-mail-forward visible-xs" aria-hidden="true"></i>
                    <span class="hidden-xs">:rocket: Eu quero!</span>
                </button>        
            </div>
        </div>
    </div>	

    <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
    </div>            
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d818a1dcab21e0bb6fbe4a39b_11b4623db6" tabindex="-1" value=""></div>
</form>
			</div>
		</div>
	</div>
</section>

<section id="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<div class="footer-wrapper">
					<p>Sobre</p>
	
					<ul>					
						<li>
							<a href="/sobre">Sobre a Python Academy</a>
						</li>
	
						<li>
							<a href="/zen-of-python"><i>Zen of Python</i></a>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-xs-12 col-sm-4">
				<div class="footer-wrapper">
					<p>Conteúdo</p>
	
					<ul>
						<li>
							<a href="/blog">Blog</a>
						</li>
						<li>
							<a href="/sliders">Sliders</a>
						</li>						
					</ul>
				</div>
			</div>

			<div class="col-xs-12 col-sm-4">
				<div class="footer-wrapper">
					<p>Ebooks</p>
	
					<ul>
						<li>
							<a href="/ebooks/desenvolvimento-web-com-python-e-django/">Desenvolvimento Web com Python e Django</a>
						</li>					
					</ul>
				</div>
			</div>
		</div>

		<div class="blue-yellow-separator no-repeat pt-64 pb-64"></div>
		
		<div class="row">
			<div class="col-sm-12 hidden-xs text-center">
				<div class="footer-wrapper">
					<img src="/assets/img/logo.png" alt="Aprenda Computação de Verdade!" class="footer-logo">
	
					<p class="footer-label mt-16">
						Existimos para levar o conhecimento de Python a todos de forma simples e inovadora!
					</p>
	
					<ul class="social-medias">
						<li>
							<a href="https://www.facebook.com/pythonacademy" target="_blank">
								<img src="/assets/img/facebook.png" alt="Facebook" data-aos="fade-in" data-aos-delay="0" data-aos-duration="500">
							</a>
						</li>	
						
						<li>
							<a href="https://www.linkedin.com/company/pythonacademy/" target="_blank">
								<img src="/assets/img/linkedin.png" alt="Medium" data-aos="fade-in" data-aos-delay="150" data-aos-duration="500">
							</a>
						</li>

						<li>
							<a href="https://twitter.com/PythonAcademyBR" target="_blank">
								<img src="/assets/img/twitter.png" alt="Twitter" data-aos="fade-in" data-aos-delay="300" data-aos-duration="500">
							</a>
						</li>
						
						<li>
							<a href="https://medium.com/@python.academy" target="_blank">
								<img src="/assets/img/medium.png" alt="Medium" data-aos="fade-in" data-aos-delay="450" data-aos-duration="500">
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="footer-copyright">
	<div class="text-center">
		<p>
			&copy;&nbsp;<b>2021</b>&nbsp;Python Academy <img src="/assets/img/cross.png" alt="Conheça Jesus Cristo!" height="24px" class="ml-16 mr-16 hidden-xs"> <br class="visible-xs">
			<i>"Porque o Senhor dá a <b>sabedoria</b>, e da sua boca vem a <b>inteligência</b> e o <b>entendimento</b>" Pv 2:6</i>
		</p>
	</div>
</section>

<script src="/assets/vendors/bundle.min.js"></script>

<!-- Custom scripts -->
<script src="/assets/js/script.js"></script>


		<!-- Javascript -->		
	    <script type="text/javascript">
	        (function($) {
	            AOS.init({
	                easing: 'ease-out-back',
	                duration: 1500
	            });
	        })(jQuery);
	    </script>
    </body>
</html>
