/* ================================ */
/*         SYNTAX RESET             */
/* ================================ */

figure {
  margin-bottom: 1em
}

figcaption {
  font-size: 16px;
  margin-top: 5px
}

figure.highlight {
  border-radius: 8px;
  padding: 0;
  margin: 0 30px 1em;
  border: 0;
}

@media(max-width: 767px) {
  figure.highlight {
      margin: 0 10px;
      margin-bottom: 1em;
  }
}

figure.highlight>pre {
  line-height: 0;
  padding: 0;
  margin: 0
}

figure.highlight td.gutter.gl {
  background: #2c2c2c;
}

figure.highlight td.code {
  padding: 10px 5px
}

.highlight table td {
  padding: 10px
}

pre {
  background-color: inherit;
  color: inherit;
  padding: 0 5px;
  border: 0;
  border-radius: 8px;
}

.terminal-output td.code pre {
  padding: 0
}

.terminal-output pre {
  background: #1b1c1c;
  border-radius: 0 0 5px 5px;
  border: 0!important
}

.terminal-output pre code {
  padding: 12px 12px 12px 15px;
  display: inline-block
}

.terminal-output::before {
  content: 'Resultado';
  font-family: 'Courier New', monospace;
  text-align: center;
  padding: 5px 15px;
  font-size: 14px;
  background: #2c2c2c url("/assets/img/terminal-output-controls.png") right no-repeat;
  background-size: 55px;
  font-weight: 400;
  border-radius: 8px 8px 0 0;
  display: block;
  color: #ffffffaa;
  border-bottom: 0;
}

.error {
  color: #dd1436!important
}

.error.terminal-output::before {
  content: 'Saída do Terminal com Erro'
}

/* ================================ */
/*           END RESET             */
/* ================================ */

.highlight table td { padding: 5px; }
.highlight table pre { 
  font-family: 'Courier New', monospace;
  font-size: 1.45rem;
  line-height: 21px;
  margin: 0; 
}
.highlight .gh {
  color: #999999;
}
.highlight .sr {
  color: #f6aa11;
}
.highlight .go {
  color: #888888;
}
.highlight .gp {
  color: #555555;
}
.highlight .gs {
}
.highlight .gu {
  color: #aaaaaa;
}
.highlight .nb {
  color: #f6aa11;
}
.highlight .cm {
  color: #75715e;
}
.highlight .cp {
  color: #75715e;
}
.highlight .c1 {
  color: #75715e;
}
.highlight .cs {
  color: #75715e;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cpf {
  color: #75715e;
}
.highlight .err {
  color: #960050;
}
.highlight .gr {
  color: #960050;
}
.highlight .gt {
  color: #960050;
}
.highlight .gd {
  color: #49483e;
}
.highlight .gi {
  color: #49483e;
}
.highlight .ge {
  color: #49483e;
}
.highlight .kc {
  color: #66d9ef;
}
.highlight .kd {
  color: #66d9ef;
}
.highlight .kr {
  color: #66d9ef;
}
.highlight .no {
  color: #66d9ef;
}
.highlight .kt {
  color: #66d9ef;
}
.highlight .mf {
  color: #ae81ff;
}
.highlight .mh {
  color: #ae81ff;
}
.highlight .il {
  color: #ae81ff;
}
.highlight .mi {
  color: #ae81ff;
}
.highlight .mo {
  color: #ae81ff;
}
.highlight .m, .highlight .mb, .highlight .mx {
  color: #ae81ff;
}
.highlight .sc {
  color: #ae81ff;
}
.highlight .se {
  color: #ae81ff;
}
.highlight .ss {
  color: #ae81ff;
}
.highlight .sd {
  color: #e6db74;
}
.highlight .s2 {
  color: #e6db74;
}
.highlight .sb {
  color: #e6db74;
}
.highlight .sh {
  color: #e6db74;
}
.highlight .si {
  color: #e6db74;
}
.highlight .sx {
  color: #e6db74;
}
.highlight .s1 {
  color: #e6db74;
}
.highlight .s, .highlight .sa, .highlight .dl {
  color: #e6db74;
}
.highlight .na {
  color: #a6e22e;
}
.highlight .nc {
  color: #a6e22e;
}
.highlight .nd {
  color: #a6e22e;
}
.highlight .ne {
  color: #a6e22e;
}
.highlight .nf, .highlight .fm {
  color: #a6e22e;
}
.highlight .vc {
  color: #ffffff;
}
.highlight .nn {
  color: #ffffff;
}
.highlight .nl {
  color: #ffffff;
}
.highlight .ni {
  color: #ffffff;
}
.highlight .bp {
  color: #ffffff;
}
.highlight .vg {
  color: #ffffff;
}
.highlight .vi {
  color: #ffffff;
}
.highlight .nv, .highlight .vm {
  color: #ffffff;
}
.highlight .w {
  color: #ffffff;
}
.highlight {
  color: #ffffff;
  background-color: #1b1c1c;
}
.highlight .n, .highlight .py, .highlight .nx {
  color: #ffffff;
}
.highlight .ow {
  color: #f92672;
}
.highlight .nt {
  color: #f92672;
}
.highlight .k, .highlight .kv {
  color: #f92672;
}
.highlight .kn {
  color: #f92672;
}
.highlight .kp {
  color: #f92672;
}
.highlight .o {
  color: #f92672;
}

.terminal-output {
  color: #CCC
}

.terminal-output td.gutter.gl {
  display: none
}

figure.highlight.terminal-output td.code {
  padding: 0
}