<!DOCTYPE html>
<html lang="pt-br">
	<head>		
				
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116930343-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-116930343-1');
</script>
			
			<!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '315628773120375');
    fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=315628773120375&ev=PageView&noscript=1"/></noscript>
<!-- End Facebook Pixel Code -->
		

		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">		

		<title></title>
		<link rel="icon" type="image/png" href="/assets/img/favicon.png">

		
		<!-- Robots -->
		<meta name="robots" content="index, follow">
		

		<!-- Canonical URL -->
		<link rel="canonical" href="https://pythonacademy.com.br/assets/css/utilities.css">	

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha512-6MXa8B6uaO18Hid6blRMetEIoPqHf7Ux1tnyIQdpt9qI5OACx7C+O3IVTr98vwGnlcg0LOLa02i9Y1HpVhlfiw==" crossorigin="anonymous" />

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w==" crossorigin="anonymous" />

		<link rel="stylesheet" href="/assets/css/master.css"/>

		<link rel="stylesheet" href="/assets/css/utilities.css"/>

		<link rel="stylesheet" href="/assets/css/syntax.css"/>		

		<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700|Montserrat:400,700|Droid+Serif:400,700,400italic,700italic|Raleway:100,200,300,400,500,600,700,800|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Merriweather:400,300,300italic,400italic,700,700italic,900,900italic|Space+Mono:400,700|Inconsolata:400,700|Muli:200,300,400,600,700|Quicksand:300,400,500,700|Source+Serif+Pro:400,700|Roboto+Condensed:300,400,700|Roboto:300,400,500,700|Ubuntu:300,400,500,700|Oswald:300,400,500,600" rel="stylesheet">

		
		
		
		
		
		
		
		
		
				
		
				
		<!-- General -->
		<meta name="description" content="Aprenda Python de verdade! Descubra como é fácil começar a usar uma das linguagens de programação mais simples do mercado! Com Python você vai poder automatizar tarefas do dia a dia, desenvolver para Web, aprender Data Science, conhecer Machine Learning e muito mais!">		
		<meta name="title" content="Python Academy | Aprenda Python de verdade! Descubra como é fácil começar a usar uma das linguagens de programação mais simples do mercado! Com Python você vai poder automatizar tarefas do dia a dia, desenvolver para Web, aprender Data Science, conhecer Machine Learning e muito mais!">
		<meta itemprop="image" content="https://pythonacademy.com.br/assets/img/og-image.png">

		<!-- Open Graph -->
		<meta property="fb:app_id" content="220280761884954">
		<meta property="og:site_name" content="Python Academy">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Python Academy | Aprenda Python de verdade! Descubra como é fácil começar a usar uma das linguagens de programação mais simples do mercado! Com Python você vai poder automatizar tarefas do dia a dia, desenvolver para Web, aprender Data Science, conhecer Machine Learning e muito mais!">
		<meta property="og:url" content="https://pythonacademy.com.br/assets/css/utilities.css">
		<meta property="og:description" content="Aprenda Python de verdade! Descubra como é fácil começar a usar uma das linguagens de programação mais simples do mercado! Com Python você vai poder automatizar tarefas do dia a dia, desenvolver para Web, aprender Data Science, conhecer Machine Learning e muito mais!">
		<meta property="og:image" itemprop="image" content="https://pythonacademy.com.br/assets/img/og-image.png" />
		<meta property="og:image:alt" content="Python Academy | Aprenda Python de verdade! Descubra como é fácil começar a usar uma das linguagens de programação mais simples do mercado! Com Python você vai poder automatizar tarefas do dia a dia, desenvolver para Web, aprender Data Science, conhecer Machine Learning e muito mais!" />
		<meta property="og:image:type" content="image/png" />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />

		<!-- Twitter cards -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@https://twitter.com/PythonAcademyBR">
		<meta name="twitter:title" content="Python Academy | Aprenda Python de verdade! Descubra como é fácil começar a usar uma das linguagens de programação mais simples do mercado! Com Python você vai poder automatizar tarefas do dia a dia, desenvolver para Web, aprender Data Science, conhecer Machine Learning e muito mais!">
		<meta name="twitter:description" content="Aprenda Python de verdade! Descubra como é fácil começar a usar uma das linguagens de programação mais simples do mercado! Com Python você vai poder automatizar tarefas do dia a dia, desenvolver para Web, aprender Data Science, conhecer Machine Learning e muito mais!">
		<meta name="twitter:image:src" content="https://pythonacademy.com.br/assets/img/twitter-card-image.png">
		
		
	</head>

	<body>

		


<header class="header">
	
	<nav class="navbar navbar-default">
		<div class="container">
	
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed "
					onclick="showMenu()"
					onblur="hideMenu()"
      				data-toggle="collapse"
					data-target="#main-menu"
					aria-expanded="true">
					<span class="sr-only">Habilitar navegação</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a class="navbar-brand" rel="home" href="https://pythonacademy.com.br">
					<img alt="Python Academy" src="/assets/img/logo.png" data-aos-easing="ease-out" data-aos="fade-in" data-aos-duration="550">
				</a>
			</div>

			<div id="main-menu" class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="https://pythonacademy.com.br" title="Volte à página inicial">
							Início
						</a>
					</li>
					
					<li>
						<a href="https://pythonacademy.com.br/blog" title="Aprenda com nossos artigos">
							Blog
						</a>
					</li>						
					
					<li>
						<a href="https://pythonacademy.com.br/sliders" title="Aprenda na prática">
							Sliders
						</a>
					</li>						

					<li>
						<a href="https://pythonacademy.com.br/sobre" title="Conheça-nos">
							Sobre
						</a>
					</li>						
				</ul>
			</div>
		</div>
	</nav>
</header>	

	    <div id="main-container">
	        /************************************
    UTILITIES.CSS

    Summary:
        1. Padding
        2. Margin
        3. Width
        4. Display
        5. Fonts

*************************************/

/* ================================ */
/*           1. PADDING             */
/* ================================ */

.pt-8  { padding-top: 8px !important }
.pt-16 { padding-top: 16px !important }
.pt-32 { padding-top: 32px !important }
.pt-64 { padding-top: 64px !important }

.pb-8  { padding-bottom: 8px !important }
.pb-16 { padding-bottom: 16px !important }
.pb-32 { padding-bottom: 32px !important }
.pb-64 { padding-bottom: 64px !important }

.pl-8  { padding-left: 8px !important }
.pl-16 { padding-left: 16px !important }
.pl-32 { padding-left: 32px !important }
.pl-64 { padding-left: 64px !important }

.pr-8  { padding-right: 8px !important }
.pr-16 { padding-right: 16px !important }
.pr-32 { padding-right: 32px !important }
.pr-64 { padding-right: 64px !important }

.padding-16-16 { padding: 16px !important }
.padding-32-32 { padding: 32px !important }

.no-padding { padding: 0 !important }

/* ================================ */
/*            2. MARGIN             */
/* ================================ */

.mt-8  { margin-top: 8px  !important }
.mt-16 { margin-top: 16px !important }
.mt-32 { margin-top: 32px !important }
.mt-64 { margin-top: 64px !important }

.mb-8  { margin-bottom: 8px  !important }
.mb-16 { margin-bottom: 16px !important }
.mb-32 { margin-bottom: 32px !important }
.mb-64 { margin-bottom: 64px !important }

.ml-8  { margin-left: 8px  !important }
.ml-16 { margin-left: 16px !important }
.ml-32 { margin-left: 32px !important }
.ml-64 { margin-left: 64px !important }

.mr-8  { margin-right: 8px  !important }
.mr-16 { margin-right: 16px !important }
.mr-32 { margin-right: 32px !important }
.mr-64 { margin-right: 64px !important }

.margin-16-16 { margin: 16px !important }
.margin-32-32 { margin: 32px !important }

/* ================================ */
/*            3. WIDTH              */
/* ================================ */

.width-0   { width: 0%   !important }
.width-10  { width: 10%  !important }
.width-20  { width: 20%  !important }
.width-30  { width: 30%  !important }
.width-40  { width: 40%  !important }
.width-50  { width: 50%  !important }
.width-60  { width: 60%  !important }
.width-70  { width: 70%  !important }
.width-80  { width: 80%  !important }
.width-90  { width: 90%  !important }
.width-95  { width: 95%  !important }
.width-100 { width: 100% !important }

/* ================================ */
/*            4. DISPLAY            */
/* ================================ */

.flex { display: flex }
.block { display: block }
.inline { display: inline }
.inline-block { display: inline-block }

/* ================================ */
/*            5. FONTS              */
/* ================================ */

/* Color */
.green-font  { color: #1abc9c !important }
.teal-font   { color: #009688 !important }
.blue-font   { color: #3498db !important }
.red-font    { color: #F44336 !important }
.orange-font { color: #FF9800 !important }
.yellow-font { color: #f1c40f !important }

/* Weight */
.weight-100 { font-weight: 100 !important }
.weight-200 { font-weight: 200 !important }
.weight-300 { font-weight: 300 !important }
.weight-400 { font-weight: 400 !important }
.weight-500 { font-weight: 500 !important }
.weight-600 { font-weight: 600 !important }
.weight-700 { font-weight: 700 !important }
.weight-800 { font-weight: 800 !important }
.weight-900 { font-weight: 900 !important }
.bold { font-weight: bold !important }

/* Size */
.size-08-rem { font-size: 0.8rem }
.size-09-rem { font-size: 0.9rem }
.size-10-rem { font-size: 1.0rem }
.size-11-rem { font-size: 1.1rem }
.size-12-rem { font-size: 1.2rem }
.size-13-rem { font-size: 1.3rem }
.size-14-rem { font-size: 1.4rem }
.size-15-rem { font-size: 1.5rem }
.size-16-rem { font-size: 1.6rem }
.size-17-rem { font-size: 1.7rem }
.size-18-rem { font-size: 1.8rem }
.size-19-rem { font-size: 1.9rem }
.size-20-rem { font-size: 2.0rem }

/* Shadow */
.font-shadow { text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) }
.line-through { text-decoration: line-through }

.valign-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
	    </div>

		


<section id="footer-signup">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h2 class="bold">Aprenda Python de Verdade!</h2>
				<p class="mb-32">
					Cadastre o seu <span class="bold">melhor email</span> para receber gratuitamente conteúdos exclusivos e muito mais!
				</p>
			</div>
			
			<div class="col-xs-12 col-md-8 col-md-offset-2">
				<!-- Include MailChimp email form with input and submit button -->
<!-- Parameters: Eu quero! = button label  -->

<form action="https://pythonacademy.us12.list-manage.com/subscribe/post?u=d818a1dcab21e0bb6fbe4a39b&amp;id=11b4623db6" 
    method="post" id="mc-embedded-subscribe-form" 
    name="mc-embedded-subscribe-form" 
    class="validate" 
    target="_blank" 
    autocomplete="off"
    novalidate>
    <div id="mc_embed_signup_scroll" class="container-fluid">        
        <div class="row no-gutters">
            <div class="col-xs-3">
                <input id="mce-NAME" type="text" value="" name="NAME" class="signup-input name" placeholder="Nome" required>
            </div>
            
            <div class="col-xs-5">                
                <input id="mce-EMAIL" type="email" value="" name="EMAIL" class="signup-input email" placeholder="Email" required>                
            </div>

            <div class="col-xs-4">
                <button id="mc-embedded-subscribe" type="submit" name="subscribe" class="btn">
                    <!--<i class="fa fa-paper-plane-o fa-fw" aria-hidden="true"></i>-->
                    <!--<span>Enviar</span>-->
                    <i class="fa fa-mail-forward visible-xs" aria-hidden="true"></i>
                    <span class="hidden-xs">:rocket: Eu quero!</span>
                </button>        
            </div>
        </div>
    </div>	

    <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
    </div>            
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d818a1dcab21e0bb6fbe4a39b_11b4623db6" tabindex="-1" value=""></div>
</form>
			</div>
		</div>
	</div>
</section>

<section id="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<div class="footer-wrapper">
					<p>Sobre</p>
	
					<ul>					
						<li>
							<a href="/sobre">Sobre a Python Academy</a>
						</li>
	
						<li>
							<a href="/zen-of-python"><i>Zen of Python</i></a>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-xs-12 col-sm-4">
				<div class="footer-wrapper">
					<p>Conteúdo</p>
	
					<ul>
						<li>
							<a href="/blog">Blog</a>
						</li>
						<li>
							<a href="/sliders">Sliders</a>
						</li>						
					</ul>
				</div>
			</div>

			<div class="col-xs-12 col-sm-4">
				<div class="footer-wrapper">
					<p>Ebooks</p>
	
					<ul>
						<li>
							<a href="/ebooks/desenvolvimento-web-com-python-e-django/">Desenvolvimento Web com Python e Django</a>
						</li>					
					</ul>
				</div>
			</div>
		</div>

		<div class="blue-yellow-separator no-repeat pt-64 pb-64"></div>
		
		<div class="row">
			<div class="col-sm-12 hidden-xs text-center">
				<div class="footer-wrapper">
					<img src="/assets/img/logo.png" alt="Aprenda Computação de Verdade!" class="footer-logo">
	
					<p class="footer-label mt-16">
						Existimos para levar o conhecimento de Python a todos de forma simples e inovadora!
					</p>
	
					<ul class="social-medias">
						<li>
							<a href="https://www.facebook.com/pythonacademy" target="_blank">
								<img src="/assets/img/facebook.png" alt="Facebook" data-aos="fade-in" data-aos-delay="0" data-aos-duration="500">
							</a>
						</li>	
						
						<li>
							<a href="https://www.linkedin.com/company/pythonacademy/" target="_blank">
								<img src="/assets/img/linkedin.png" alt="Medium" data-aos="fade-in" data-aos-delay="150" data-aos-duration="500">
							</a>
						</li>

						<li>
							<a href="https://twitter.com/PythonAcademyBR" target="_blank">
								<img src="/assets/img/twitter.png" alt="Twitter" data-aos="fade-in" data-aos-delay="300" data-aos-duration="500">
							</a>
						</li>
						
						<li>
							<a href="https://medium.com/@python.academy" target="_blank">
								<img src="/assets/img/medium.png" alt="Medium" data-aos="fade-in" data-aos-delay="450" data-aos-duration="500">
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="footer-copyright">
	<div class="text-center">
		<p>
			&copy;&nbsp;<b>2021</b>&nbsp;Python Academy <img src="/assets/img/cross.png" alt="Conheça Jesus Cristo!" height="24px" class="ml-16 mr-16 hidden-xs"> <br class="visible-xs">
			<i>"Porque o Senhor dá a <b>sabedoria</b>, e da sua boca vem a <b>inteligência</b> e o <b>entendimento</b>" Pv 2:6</i>
		</p>
	</div>
</section>

<script src="/assets/vendors/bundle.min.js"></script>

<!-- Custom scripts -->
<script src="/assets/js/script.js"></script>


		<!-- Javascript -->		
	    <script type="text/javascript">
	        (function($) {
	            AOS.init({
	                easing: 'ease-out-back',
	                duration: 1500
	            });
	        })(jQuery);
	    </script>
    </body>
</html>
