/************************************
    UTILITIES.CSS

    Summary:
        1. Padding
        2. Margin
        3. Width
        4. Display
        5. Fonts

*************************************/

/* ================================ */
/*           1. PADDING             */
/* ================================ */

.pt-16 { padding-top: 16px !important }
.pt-32 { padding-top: 32px !important }
.pt-64 { padding-top: 64px !important }

.pb-16 { padding-bottom: 16px !important }
.pb-32 { padding-bottom: 32px !important }
.pb-64 { padding-bottom: 64px !important }

.pl-16 { padding-left: 16px !important }
.pl-32 { padding-left: 32px !important }
.pl-64 { padding-left: 64px !important }

.pr-16 { padding-right: 16px !important }
.pr-32 { padding-right: 32px !important }
.pr-64 { padding-right: 64px !important }

.padding-16-16 { padding: 16px !important }
.padding-32-32 { padding: 32px !important }

.no-padding { padding: 0 !important }

/* ================================ */
/*            2. MARGIN             */
/* ================================ */

.mt-8  { margin-top: 8px  !important }
.mt-16 { margin-top: 16px !important }
.mt-32 { margin-top: 32px !important }
.mt-64 { margin-top: 64px !important }

.mb-16 { margin-bottom: 16px !important }
.mb-32 { margin-bottom: 32px !important }
.mb-64 { margin-bottom: 64px !important }

.ml-16 { margin-left: 16px !important }
.ml-32 { margin-left: 32px !important }
.ml-64 { margin-left: 64px !important }

.mr-16 { margin-right: 16px !important }
.mr-32 { margin-right: 32px !important }
.mr-64 { margin-right: 64px !important }

.margin-16-16 { margin: 16px !important }
.margin-32-32 { margin: 32px !important }

/* ================================ */
/*            3. WIDTH              */
/* ================================ */

.width-0   { width: 0%   !important }
.width-10  { width: 10%  !important }
.width-20  { width: 20%  !important }
.width-30  { width: 30%  !important }
.width-40  { width: 40%  !important }
.width-50  { width: 50%  !important }
.width-60  { width: 60%  !important }
.width-70  { width: 70%  !important }
.width-80  { width: 80%  !important }
.width-90  { width: 90%  !important }
.width-95  { width: 95%  !important }
.width-100 { width: 100% !important }

/* ================================ */
/*            4. DISPLAY            */
/* ================================ */

.flex { display: flex }
.block { display: block }
.inline { display: inline }
.inline-block { display: inline-block }

/* ================================ */
/*            5. FONTS              */
/* ================================ */

/* Color */
.green-font  { color: #1abc9c !important }
.teal-font   { color: #009688 !important }
.blue-font   { color: #3498db !important }
.red-font    { color: #F44336 !important }
.orange-font { color: #FF9800 !important }
.yellow-font { color: #f1c40f !important }

/* Weight */
.weight-100 { font-weight: 100 !important }
.weight-200 { font-weight: 200 !important }
.weight-300 { font-weight: 300 !important }
.weight-400 { font-weight: 400 !important }
.weight-500 { font-weight: 500 !important }
.weight-600 { font-weight: 600 !important }
.weight-700 { font-weight: 700 !important }
.weight-800 { font-weight: 800 !important }
.weight-900 { font-weight: 900 !important }
.bold { font-weight: bold !important }

/* Size */
.size-08-rem { font-size: 0.8rem }
.size-09-rem { font-size: 0.9rem }
.size-10-rem { font-size: 1.0rem }
.size-11-rem { font-size: 1.1rem }
.size-12-rem { font-size: 1.2rem }
.size-13-rem { font-size: 1.3rem }
.size-14-rem { font-size: 1.4rem }
.size-15-rem { font-size: 1.5rem }
.size-16-rem { font-size: 1.6rem }
.size-17-rem { font-size: 1.7rem }
.size-18-rem { font-size: 1.8rem }
.size-19-rem { font-size: 1.9rem }
.size-20-rem { font-size: 2.0rem }

/* Shadow */
.font-shadow { text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) }
.line-through { text-decoration: line-through }

.valign-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}